<legend>Payment methods</legend>
<div class="control-group">
	<div class="controls" style="margin-left:0;">
    	<table class="table table-stripped table-condensed">
    		<tr>
    			<th></th>
    			{% for bill in bills %}<th>{{ bill.title }}</th>{% endfor %}
    		</tr>
    		{% for method in methods %}
    		<tr>
    			<td>{{ method.title }}</td>
    			{% for bill in method.bills %}<td><input type="hidden" value="-1" name="payment_methods[{{ method.slug }}][{{ bill.slug }}]" /><input{% if bill.enabled == 1 %} checked="checked"{% endif %} type="checkbox" value="1" name="payment_methods[{{ method.slug }}][{{ bill.slug }}]"/></td>{% endfor %}
    		</tr>
    		{% endfor %}
    	</table>
	</div>
</div>