<h1 class="bl np">Payment error</h1>


<ul id="steps">
  <li class="active">1. {{ __('offer_step_insert') }}</li>
  <li class="active">2. {{ __('offer_step_review') }}</li>
  {% if steps %}
    <li class="active">3. {{ __('offer_step_payment') }}</li>
    <li class="">4. {{ __('offer_step_confirm') }}</li>
  {% else %}
    <li class="active">3. {{ __('offer_step_payment_method') }}</li>
    <li class="current">4. {{ __('offer_step_payment') }}</li>
    <li class="">5. {{ __('offer_step_confirm') }}</li>
  {% endif %}
</ul>

<div class="row-fluid">
  <div class="span4">
    <div class="whiteBg">
      <h3>{{ __('title_what_now') }}</h3>
      {{ __('content_what_now') }}
    </div>
  </div>
  <div class="span8">
    <div class="whiteBg">
      <div class="alert alert-error">
        <h4>There has been a problem processing your payment</h4><br>
        This is the message from our payment processor: <br><br>
        {{errorMessage}}<br>
        <br>
        <br>
        <a href="{{back_to_payment_url}}" class="button medium whiteText">Try again</a>
      </div>
    </div>
  </div>
</div>
