<h1 class="bl np">Payment</h1>

<ul id="steps">
  <li class="active">1. {{ __('offer_step_insert') }}</li>
  <li class="active">2. {{ __('offer_step_review') }}</li>
  {% if steps %}
    <li class="current">3. {{ __('offer_step_payment') }}</li>
    <li class="">4. {{ __('offer_step_confirm') }}</li>
  {% else %}
    <li class="active">3. {{ __('offer_step_payment_method') }}</li>
    <li class="current">4. {{ __('offer_step_payment') }}</li>
    <li class="">5. {{ __('offer_step_confirm') }}</li>
  {% endif %}
</ul>

<div class="row-fluid">
  <div class="span4">
    <div class="whiteBg">
      <h3>{{ __('heading_braintree') }}</h3>
      {{ __('content_order_payment_braintree') }}
    </div>
  </div>
  <div class="span8">
    <div class="whiteBg">
        <form id="checkout" method="POST" action="{{ confirmPaymentUrl }}">

	{% if (paymenttable.braintreewhole and paymenttable.braintreereservation) %}
        <p>You can also pay total amount by choosing the option <i>I want to pay altogether</i>.</p>
        <div class="once_bt">
          <input id="once_bt" type="checkbox" name="full" {% if full %} checked="checked"{% endif %} />
          <label for="once_bt">{{ __('title_all_together') }} {{ total | raw }}</label>
        </div>
        {% elseif paymenttable.braintreewhole %}
        <input style="display: none" id="once_bt" name="full" type="checkbox" checked="checked" />
        {% else %}
        <input style="display: none" id="once_bt" name="full" type="checkbox" />
        {% endif %}

            <div id="dropin"></div>

            <input type="submit"  class="button medium whiteText" id="pay_btn" value="Pay">
        </form>
    </div>
  </div>
</div>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var refreshButtonText = function() {
        if($("#once_bt").is(":checked")) {
            $("#pay_btn").attr("value", "Pay " + "{{total_price}}");
        } else {
            $("#pay_btn").attr("value", "Pay " + "{{reservation_price}}");
        }
    };

    $("#once_bt").change(refreshButtonText);
    refreshButtonText();
});

braintree.setup(
  "{{braintreeClientToken}}",
  'dropin', {
    container: 'dropin'
  });
</script>
