<div class="row">
	<div class="span8">
		Logo
	</div>
	<div class="span4">
		Pošiljatelj
	</div>
</div>

<div class="row">
	<div class="span12">
		<h3>Spoštovani potnik/ca!</h3>
		<p>Z naročilom potovanja ste nam izkazali svoje zaupanje in nam dali priložnost, da naredimo vse za vaše dobro počutje in brezskrbne užitke. O vseh nadaljnjih informacijah vas bomo obveščali sproti.</p>
	</div>
</div>

<div class="row">
	<div class="span6">
		Prejemnik
	</div>
	<div class="span6">
		Info
	</div>
</div>

<div class="row">
	<div class="span12">
		<table>
			<tr><td></td></tr>
		</table>
	</div>
</div>