<h1 class="bl np">Payment confirmation</h1>

<ul id="steps">
  <li class="active">1. {{ __('offer_step_insert') }}</li>
  <li class="active">2. {{ __('offer_step_review') }}</li>
  <li class="active">3. {{ __('offer_step_payment_method') }}</li>
  <li class="current">4. {{ __('offer_step_payment') }}</li>
  <li>5. {{ __('offer_step_confirm') }}</li>
</ul>

<div class="row-fluid">
  <div class="span4">
    <div class="whiteBg">
      <h3>{{ __('heading_upn') }}</h3>
      {{ __('content_order_payment_upn', content_order_payment_upn) }}
    </div>
  </div>
  <div class="span8">
    <div class="whiteBg">
      <h3>{{ __('title_order_confirmed') }}</h3>
        <div class="upnsepa payee">
            <div class="type">Plačnik</div>
            <div class="con">
                <div class="wOneHalf">
                    <label>IBAN:</label>
                    <span>SI56 XXXX XXXX XXXX XXX ({{ payee.name }} {{ payee.surname }})</span>
                    <label>Referenca:</label>
                    <span>{{ referenca.long }}</span>
                    <label>Naziv:</label>
                    <span>{{ payee.name }} {{ payee.surname }}</span>
                    <label>Kraj:</label>
                    <span>{{ payee.post }}</span>
                    <label>Koda namena:</label>
                    <span>PRCP - Plačilo izdatkov</span>
                </div>
                <div class="wOneHalf">
                    <div class="stamp"></div>
                    <label>Naslov:</label>
                    <span>{{ payee.address }}</span>
                    <label>Država:</label>
                    <span>Slovenija - 705</span>
                    <label>Namen / rok plačila:</label>
                    <span>{{ referenca.string }}</span>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="upnsepa gnp">
            <div class="type">Prejemnik</div>
            <div class="con">
                <div class="wOneHalf">
                    <label>Znesek:</label>
                    <span>{{ price | raw }}</span>
                    <label>IBAN:</label>
                    <span>SI56 0481 0011 3762 882</span>
                    <label>Referenca:</label>
                    <span style="clear: left; width: 8%; margin-right: 2%;">SI</span>
                    <span style="clear: none; width: 8%; margin-right: 2%;">00</span>
                    <span style="clear: none; width: 60%;">{{ referenca.short }}</span>
                    <label>Naziv:</label>
                    <span>RENTOR Mario Benić s.p.</span>
                    <label>Kraj:</label>
                    <span>8250 Brežice</span>
                </div>
                <div class="wOneHalf">
                    <div class="wOneHalf" style="width: 35%;">
                        <label>Datum plačila:</label>
                        <span>{{ date }}</span>
                    </div>
                    <div class="wOneHalf" style="width: 60%;">
                        <label>BIC banke prejemnika:</label>
                        <span>KBMASI2X</span>
                    </div>
                    <label style="margin: 48px 0px 31px 40px;">UPN - Univerzalni plačilni nalog</label>
                    <label>Naslov:</label>
                    <span>CPB 26a</span>
                    <label>Država:</label>
                    <span>Slovenija - 705</span>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
  </div>
</div>