<div class="headline span6 offset3">
  <div class="pic">
    <img src="/img/microphone.png">
  </div>
  <div class="text">
    <p><span>Ekipa Gremonaparty: </span>##CONTENT##</p>
  </div>
</div><!-- /headline -->