<form method="GET" action="/maestro/users">
	<div class="row filter">
		##MULTICHECKBOX STATUSES##
		<input type="submit" class="btn" value="Apply" style="margin-top: -9px !important;" />
	</div>
</form>