<!-- Modal -->
<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">SIGN IN</h3>
  </div>
  <div class="modal-body">
    <form name="login-form">
      <input id="email" name="email" placeholder="Email" type="email" />
      <input id="password" name="password" placeholder="Password" type="password" />
      <input id="submit" type="submit" value="SUBMIT" />
    </form>
    <a href="#forgotPassModal" data-toggle="modal" onclick="$('#loginModal').modal('hide')">Forgotten password?</a>
  </div>
</div>
<div id="forgotPassModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">DID YOU FORGET YOUR PASSWORD?</h3>
  </div>
  <div class="modal-body">
    <form name="forgot-pass-form">
      <input id="emailfp" name="email" placeholder="Your Email" type="email" />
      <input id="submitfp" type="submit" value="SEND ME MY NEW PASSWORD" />
    </form>
    <a href="#loginModal" data-toggle="modal" onclick="$('#forgotPassModal').modal('hide')">I want to sign in</a>
  </div>
</div>