<div class="mf" id="e-news-module">
  <div class="module-head">
    <h2>E-novice</h2>
  </div>
  <div class="frame">
    <div>
      <p>Bodi obveščen o novostih, akcijah, ugodnih ponudbah in najnovejših novicah iz sveta elektronske glasbe!</p>
      <form action="" method="post">
        <div><input placeholder="Ime" name="name" type="text" /></div>
        <div><input placeholder="Priimek" name="surname" type="text" /></div>
        <div><input placeholder="Email" name="email" type="email" />
        <input type="submit" value="POŠLJI" /></div>
      </form>
    </div>
  </div>
</div><!-- e-news module -->