<div class="about" id="profileAbout">
  <h1>{{ __('profile_heading_hi') }}, <span>{{ user.name }}</span><a class="pull-right" href="/odjava" style="font-size: 12px; color: black;">{{ __('btn_logout') }}<span style="margin-left: 10px;" class="icon-edit" title="{{ __('btn_logout') }}"></span></a></h1>
  <ul class="info" id="userInfo">
    <li class="head">
      <h3>{{ __('heading_my_info') }}</h3>
    </li>
    <li>{{ user.name }}</li>
    <li>{{ user.surname }}</li>
    <li>{{ user.email }}</li>
    <li>{{ user.phone }}</li>
    <li>{{ user.address }}</li>
    <li>{{ user.post }}</li>
    <li>{{ user.dt_birth|date("d. F Y")}}</li>
  </ul>
  <a id="editProfile" class="button-pink" style="width: 49%; float: left;">{{ __('btn_edit_profile') }}</a>
  <a id="editPassword" class="button-pink" style="width: 49%; float: right;">{{ __('btn_change_password') }}</a>
  <br class="cb" />
</div>