<script src="/js/jquery.easing.1.3.js"></script>
<script>
    $(window).load(function() {
    resize(".offer .imageBox img", 0.55);
  });
  $(document).ready(function(){
    resize(".offer .imageBox img", 0.55);
  });
  $(window).resize(function(){
    resize(".offer .imageBox img", 0.55);
  });
	
	$(window).load(function(e) {
		var offset = $(".offers-menu-frame").offset();
		var offsetTop = offset.top;
		
    $(document).scroll(function() {
			if($(window).scrollTop() >= offsetTop-35)
				$(".offers-menu-frame").addClass('fixed');
			else
				$(".offers-menu-frame").removeClass('fixed');
		});
  });
	$(document).ready(function(e) {
		//ob kliku na podmeni na strani z vsemi potovanji
		$(".offers-menu a[href^='#']").click(function(e) {
			e.preventDefault();
			
			var id = $(this).attr('href');
			//če je pomeni fixen, je stran za 35px krajša
			if($(".offers-menu-frame").hasClass('fixed')) {
				$('html, body').animate({
						 scrollTop: $(id).offset().top-35-55-33-20+55
				}, 800, 'easeInOutExpo');
			}
			else {
				$('html, body').animate({
						 scrollTop: $(id).offset().top-35-55-33-20
				}, 800, 'easeInOutExpo');
			}
			
			return false;
		});
  });
</script>
<div class="offers-menu-frame">
	<div class="container">
    <div class="offers-menu">
      <ul>
      	{% for item in listItems %}
        <li>{% if loop.first != true %}<span></span>{% endif %}<a href="#{{ item.friendly }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% for offer in offers %}
<div class="span6 {% if loop.index0 %2 == 0 %}first {% endif %}category" id="{{ offer.cat.title }}">
  <h2>{{ offer.cat.title }}</h2>
  <div class="span12 first">
    <div class="offer index">
      <div class="cont">
      	<div class="imageBox">
        	<div>
        		<a class="image" href="{{ offer.url }}"><img src="/cache/img/w/570{{ offer.image }}" /></a>
        	</div>
        </div>
        {% if offer.pickup %}
        <div class="pickup-line">
          <p>{{ offer.pickup }}</p>
        </div>
        {% endif %}
        {% if offer.price %}
        <div class="price-tag">
          <div class="background"></div>
          <p class="from">{{ __('price_from') }}</p>
          <p class="price">{{ offer.price|round }} €</p>
        </div>
        {% endif %}
        <div class="main-info">
          <div class="background"></div>
          <a href="{{ offer.url }}"><h3>{{ offer.title }}</h3></a>
          <a href="{{ offer.url }}"><p class="subtitle">{{ offer.subtitle }}</p></a>
          <p class="info">{{ offer.place_date }}</p>
          <a class="button" href="{{ offer.url }}">{{ __('btn_more_info') }}</a>
        </div>
      </div>
      <!--div class="fb">
				<div class="fb-like" data-href="https://www.gremonaparty.com{{ offer.url }}" data-send="false" data-width="150" data-show-faces="true" data-font="arial"></div>
      </div-->
    </div><!-- /offer.middle -->
  </div>
  <div class="clear"></div>
</div>
{% endfor %}