{% if offer.pickup_line and phoneclass == "hidden-phone" %}
<div class="pickup visible-desktop {{ phoneclass }}">
	<div class="background"></div>
	<p>
		{{ offer.pickup_line }}
	</p>
</div>
{% endif %}

<div class="floating-info">
  <div class="main grayBg blackA borderless nopadding {{ phoneclass }}">
    {% if packets %}
    <div class="top">
      <div class="price">
        <p class="inr">{{ __('title_travel_from') }}</p>
        <p class="num">{{ minPrice }}</p>
      </div>
      <div class="btn-frame">
        <a class="button whiteText" href="#potovanja">{{ __('check_all_packets') }}</a>
      </div>
    </div>
    <div class="middle">
      <p class="date">{{ offer.dt_start|date("d. F") }} - {{ offer.dt_end|date("d. F Y") }}</p>
      <!--<p class="time">{{ __('title_start') }}: {{ offer.dt_start|date("H.i") }}, {{ __('title_end') }}: {{ offer.dt_end|date("H:i") }}</p>-->
      <p class="place">{{ offer.city.title }}, {{ offer.country.title }}</p>
    </div>
    {% else %}
      <div class="middle" onclick="scrollTo('#enews-module');">
        {{ __('text_packets_and_tickets_not_available') }}
      </div>
    {% endif %}
    <div class="bottom">
      <h3>{{ __('basket_title') }}</h3>
      <div class="basket-empty">
        {{ __('basket_is_empty_message') }}
      </div>
      <div class="basket-in">
        <table>
        </table>
      </div>
    </div>
  </div>
  <div class="morelinksh {{ phoneclass }}">
  	<p>{{ __('sidebar_customer_support') }}</p>
  	<p><a href="/">{{ __('sidebar_back_to_shop') }}</a></p>
  </div>
</div>