<input type="hidden" id="id" name="country[id]" value="##ID##" />

<div class="control-group">
	<label class="control-label" for="title">Country</label>
	<div class="controls">
    	<input type="text" id="title" name="country[title]" value="##TITLE##" class="span6" />
	</div>
</div>