<html>
	<head>
		<title>##STRIPPED TITLE##</title>
	</head>
	<body style="margin: 0; padding: 0; background: #f0f0f0; font-family: Arial, sans-serif; font-size: 14px;">
		<div style="width: 600px; margin: 0 auto; clear: both;">
			<a href="##URL##" target="_blank"><img src="##URL##img/mail_header.png" /></a>
			
			<span style="display: block; clear: both; height: auto; font-size: 30px; margin: 0 auto; margin: 15px; text-transform: uppercase; text-align: center;">##TITLE##</span>
			<span style="display: block; clear: both; height: 1px; background: #ccc;"></span>
			##CONTENT##
			
			<br /><br />
			<p>For questions and additional info please send us an email to <b style="color: #cb181c;">info@hardisland.com</b>. <br /><br />

			Hard Island Team
			</p>
			<br /><br />
			<span style="display: block; clear: both; height: auto; font-size: 30px; margin: 0 auto; text-transform: uppercase; text-align: center; font-weight: bold;"><b>Don't think. Just GoNParty.</span>
			<span style="display: block; clear: both; height: 1px; background: #ccc; margin-top: 15px;"></span>
			<br style="display: block; clear: both;" /><br style="display: block; clear: both;" />
		</div>
	</body>
</html>