<h1 class="bl np">Payment confirmation</h1>


<ul id="steps">
  <li class="active">1. {{ __('offer_step_insert') }}</li>
  <li class="active">2. {{ __('offer_step_review') }}</li>
  {% if steps %}
    <li class="active">3. {{ __('offer_step_payment') }}</li>
    <li class="current">4. {{ __('offer_step_confirm') }}</li>
  {% else %}
    <li class="active">3. {{ __('offer_step_payment_method') }}</li>
    <li class="active">4. {{ __('offer_step_payment') }}</li>
    <li class="current">5. {{ __('offer_step_confirm') }}</li>
  {% endif %}
</ul>

<div class="row-fluid">
  <div class="span4">
    <div class="whiteBg">
      <h3>{{ __('title_what_now') }}</h3>
      {{ __('content_what_now') }}
    </div>
  </div>
  <div class="span8">
    <div class="whiteBg">
      <h3>{{ __('title_order_confirmed') }}</h3>
      {{ __('content_order_confirmed') }}
    </div>
  </div>
</div>