<form method="GET" action="/maestro/orders">
	<div style="display: ##DISPLAY##;" class="row filter">
		##MULTICHECKBOX STATUSES##
		##MULTICHECKBOX CLIENTS##
		##MULTICHECKBOX PAYEES##
		##MULTICHECKBOX CITIES##
		##MULTICHECKBOX ADDITIONS##
		<input type="submit" class="btn" value="Apply" style="margin-top: 4px !important;" />
		<input type="hidden" name="offer" value="##OFFER ID##" />
	</div>
</form>