{% macro includes(includes) %}
  {% for incl in includes %}<li data-descr="{{ incl.description }}"><div class="boxd">{{ incl.title }}{% if incl.description %} <img alt="?" src="/img/icons/questionmark.png" />{% endif %}</div></li>{% endfor %}
{% endmacro %}

{% macro departments(departments, hash) %}
  {% for department in departments %}<li><input id="department_{{ hash }}_{{ department.id }}" type="radio" value="{{ department.id }}" name="order[{{ hash }}][department_id]" data-value="{{ department.value }}"{{ department.checked }} /><label for="department_{{ hash }}_{{ department.id }}">{{ department.title }}{% if department.value > 0 %}<span><span>{{ department.value }} €</span></span>{% endif %}</label></li>{% endfor %}
{% endmacro %}

{% macro additions(additions, hash) %}
  {% for addition in additions %}<li data-descr="{{ addition.description }}"><div class="boxd"><input class="ordersUserAddition" id="addition_{{ hash }}_{{ addition.id }}" type="checkbox" value="{{ addition.id }}" name="order[{{ hash }}][additions][]" data-value="{{ addition.value }}"{{ addition.checked }} /><label for="addition_{{ hash }}_{{ addition.id }}"><nobr>{{ addition.title }}{% if addition.value > 0 %}{% if addition.description %} <img alt="?" src="/img/icons/questionmark.png" />{% endif %} <span><span>{{ addition.value }} €</span></span></nobr><div class="clear"></div>{% endif %}</label></div></li>{% endfor %}
{% endmacro %}

{% import _self as macros %}

<script>
  $(document).ready(function(e) {
    $('input').focus(function() {
      $('.cloud').remove();
      
      if($(this).val() != "") {
        var message = $(this).attr('placeholder');

        if (message) {
          var posTop = $(this).position().top;
          var marginLeft = $(this).outerWidth();
          
          var cloud = $('<div class="cloud listed"></div>').css({'top' : posTop,
                                                          'left' : marginLeft}) ;
          var square = $('<div class="square">' + message + '</div>').appendTo(cloud);
          var triangle = $('<div class="triangle"></div>').appendTo(cloud);
          
          $(this).parent().append(cloud);
          
          $(this).focusout(function() {
            $('.cloud').remove();
          });
        }
      }
      
      $(this).keyup(function() {
        if($(this).val() != "") {
          var message = $(this).attr('placeholder');
          
          if (message) {
            var posTop = $(this).position().top;
            var marginLeft = $(this).outerWidth();
            
            var cloud = $('<div class="cloud"></div>').css({'top' : posTop,
                                                            'left' : marginLeft}) ;
            var square = $('<div class="square">' + message + '</div>').appendTo(cloud);
            var triangle = $('<div class="triangle"></div>').appendTo(cloud);
            
            $(this).parent().append(cloud);
            
            $(this).focusout(function() {
              $('.cloud').remove();
            });
          }
        }
      });
    });
  });
</script>
<script>
	$(document).ready(function(e) {
		$("ul.includes li").mouseenter(function() {
      $('.cloud').remove();
			
			if($(this).attr('data-descr')) {
				var cloud = $('<div class="cloud listed"></div>') ;
				var square = $('<div class="square">' + $(this).attr('data-descr') + '</div>').appendTo(cloud);
				var triangle = $('<div class="triangle"></div>').appendTo(cloud);
				
				$(this).children('div').append(cloud);
				
				$(this).mouseleave(function() {
					$('.cloud').remove();
				});
				$(".cloud").click(function() {
					$('.cloud').remove();
				});
			}
		});
		$(".additions ul li").mouseenter(function() {
      $('.cloud').remove();
			
			if($(this).attr('data-descr')) {
				var cloud = $('<div class="cloud listed right"></div>') ;
				var square = $('<div class="square">' + $(this).attr('data-descr') + '</div>').appendTo(cloud);
				var triangle = $('<div class="triangle"></div>').appendTo(cloud);
				
				$(this).children('div').append(cloud);
				
				$(this).mouseleave(function() {
					//$('.cloud').remove();
				});
				$(".cloud").click(function() {
					//$('.cloud').remove();
				});
			}
		});
	});
</script>

<h1 class="bl np">{{ offer.title }} - {{ offer.subtitle }}</h1>

<ul id="steps">
  <li class="current">1. {{ __('offer_step_insert') }}</li>
  <li class="">2. {{ __('offer_step_review') }}</li>
  {% if steps %}
    <li class="">3. {{ __('offer_step_payment') }}</li>
    <li class="">4. {{ __('offer_step_confirm') }}</li>
  {% else %}
    <li class="">3. {{ __('offer_step_payment_method') }}</li>
    <li class="">4. {{ __('offer_step_payment') }}</li>
    <li class="">5. {{ __('offer_step_confirm') }}</li>
  {% endif %}
</ul>

<p class="instructions">{{ __('order_instructions') }}</p>
<form method="post" action="{{ form.action }}" id="orderform" autocomplete="off">
  <input type="hidden" value="{{ offer.id }}" name="offer_id" id="offer_id" />
  
  <h2>{{ __('heading_payee') }}</h2>
  {% set payee = form.payee %}
  {% block payee %}
  <div class="grayBg">
    <div style="" id="payee" class="row-fluid customer" data-hash="{{ payee.hash }}">
      <div class="span3">
        <h3>{{ __('heading_choose_packet_payee') }}</h3>
        {{ payee.packetsList | raw }}
        <ul class="includes" id="orderIncludes_{{ payee.hash }}">
          {{ macros.includes(payee.includes) }}
        </ul>
				<div class="basis">{{ __('packet_without_additions') }} <span id="payment2_{{ payee.hash }}">{{ payee.payment }} €</span></div>
      </div>
      <div class="span3">
        <h3>{{ __('heading_personal_info') }}</h3>
        <input type="text" name="order[{{ payee.hash }}][email]" placeholder="{{ __('placeholder_real_email') }}" value="{{ payee.email }}" />
        <input type="text" name="order[{{ payee.hash }}][name]" placeholder="{{ __('placeholder_name') }}" value="{{ payee.name }}" />
        <input type="text" name="order[{{ payee.hash }}][surname]" placeholder="{{ __('placeholder_surname') }}" value="{{ payee.surname }}" />
        <input type="text" name="order[{{ payee.hash }}][address]" placeholder="{{ __('placeholder_address') }}" value="{{ payee.address }}" />
        <input type="text" name="order[{{ payee.hash }}][post]" placeholder="{{ __('placeholder_post') }}" value="{{ payee.post }}" />
        <input type="text" name="order[{{ payee.hash }}][phone]" placeholder="{{ __('placeholder_phone') }}" value="{{ payee.phone }}" />
      </div>
      <div class="span3 departure">
        <!--h3>{{ __('heading_department') }}</h3>
        <ul id="orderDepartments_{{ payee.hash }}">
          {{ macros.departments(payee.departments, payee.hash) }}
        </ul><br /-->
        <h3>{{ __('heading_notes') }}</h3>
        <textarea class="span12" style="height: 80px; resize: none;" name="order[{{ payee.hash }}][notes]" placeholder="{{ __('placeholder_notes') }}"></textarea>
      </div>
      <div class="span3 additions">
        <h3>{{ __('heading_additions') }}</h3>
        <ul id="orderAdditions_{{ payee.hash }}">
          {{ macros.additions(payee.additions, payee.hash) }}
        </ul>
      </div>
      <div class="perSum">{{ __('sum_packet_additions') }}: <span id="payment_{{ payee.hash }}">{{ payee.payment }} €</span></div>
    </div>
  </div>
  <input type="button" id="confirmPayee" value="{{ __('btn_confirm') }}" class="button whiteText big long" style="float: right; clear: both;" />
  {% endblock %}

  <div id="customers" style="opacity: 0.2; clear: both;">
    <h2>{{ __('heading_choose_packets_friend') }}</h2>
    {% for customer in form.customers %}
        <div class="grayBg">
          <div style="" id="customer_{{ customer.hash }}" class="row-fluid customer" data-hash="{{ customer.hash }}">
            <div class="span3">
              <h3>{{ __('heading_choose_packet_friend') }}</h3>
              {{ customer.packetsList | raw }}
              <ul class="includes" id="orderIncludes_{{ customer.hash }}">
                {{ macros.includes(customer.includes) }}
              </ul>
            </div>
            <div class="span3">
              <h3>{{ __('heading_personal_info') }}</h3>
              <input type="text" name="order[{{ customer.hash }}][email]" placeholder="{{ __('placeholder_real_email') }}" class="customerEmail" />
              <input type="text" name="order[{{ customer.hash }}][name]" placeholder="{{ __('placeholder_name') }}" />
              <input type="text" name="order[{{ customer.hash }}][surname]" placeholder="{{ __('placeholder_surname') }}" />
            </div>
            <div class="span3 departure">
              <h3>{{ __('heading_department') }}</h3>
              <ul id="orderDepartments_{{ customer.hash }}">
                {{ macros.departments(customer.departments, customer.hash) }}
              </ul><br />
            <h3>{{ __('heading_notes') }}</h3>
            <textarea class="span12" style="height: 48px; resize: none;" name="order[{{ customer.hash }}][notes]" placeholder="{{ __('placeholder_notes') }}"></textarea>
            </div>
            <div class="span3 additions">
              <h3>{{ __('heading_additions') }}</h3>
              <ul id="orderAdditions_{{ customer.hash }}">
                {{ macros.additions(customer.additions, customer.hash) }}
              </ul>
            </div>
            <div class="perSum">{{ __('sum_packet_additions') }}: <span id="payment_{{ customer.hash }}">{{ customer.payment }} €</span></div>
          </div>
        </div>
      <!--span style="clear: both; display: block; float: right; margin-bottom: 20px; margin-top: 10px; color: #EF1736;" class="removeCustomer" data-hash="{{ customer.hash }}">{{ __('btn_remove_friend') }}</span-->

        <div class="clearfix"></div>
    {% endfor %}
    <div id="appendCustomer"></div>
    <div class="clearfix"></div>
    
    <!--input type="button" id="addCustomer" value="{{ __('btn_add_friend') }}" class="button whiteText medium gray" style="float: left; clear: left;" /-->
    
    <input type="button" id="btnSubmitOrder" value="{{ __('btn_go_to_estimate') }}" class="btnToEstimate button whiteText medium" style="float: right;" />
    <span class="sumAll" style="float: right;">
      {{ __('sum_packets_additions') }}: <span id="payment">{{ form.payment }} €</span>
      <!--p class="portions">{{ form.maxPortions }}</p></span-->
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div style="text-align:right; font-size:12px; margin-top:10px; color:#777;">{{ __('confirm_terms') }}</div>
</form>