<h1 class="bl np">Choose payment method</h1>

<ul id="steps">
  <li class="active">1. {{ __('offer_step_insert') }}</li>
  <li class="active">2. {{ __('offer_step_review') }}</li>
  {% if steps %}
    <li class="">3. {{ __('offer_step_payment') }}</li>
    <li class="">4. {{ __('offer_step_confirm') }}</li>
  {% else %}
    <li class="current">3. {{ __('offer_step_payment_method') }}</li>
    <li class="">4. {{ __('offer_step_payment') }}</li>
    <li class="">5. {{ __('offer_step_confirm') }}</li>
  {% endif %}
</ul>

<!--p class="intro">You can choose between Paypal (credit cards included) and direct payment through the bank transfer in this case make sure you pay in 24 hours. Either way you have to pay the booking fee first {{ reservation | raw }} or you can pay everything at once, saving some time for yourself. =)
</p-->

<h2>PAY NOW TO CONFIRM YOUR BOOKING</h2>

<div class="row-fluid">

{% if paymenttable.braintreewhole or paymenttable.braintreeportions or paymenttable.braintreereservation %}
  <div class="span8">
    <div class="grayBg paypal">
      <h3>{{ __('heading_braintree_visa_mastercard') }}</h3>
      <img alt="PAYPAL" src="/img/visa-mastercard.png">
      <div class="description">
        {{ __('content_braintree') }}
        {% if (paymenttable.braintreewhole and paymenttable.braintreereservation) %}
        <p>You can also pay total amount by choosing the option <i>I want to pay altogether</i>.</p>
        <div class="once_bt">
          <input id="once_bt" type="checkbox" />
          <label for="once_bt">{{ __('title_all_together') }} {{ total_friendly | raw }}</label>
        </div>
        {% elseif paymenttable.braintreewhole %}
        <input style="display: none" id="once_bt" type="checkbox" checked="checked" />
        {% else %}
        <input style="display: none" id="once_bt" type="checkbox" />
        {% endif %}
        <div class="clear"></div>
        <a class="button whiteText big" href="{{ url.braintree }}" title="{{ __('btn_braintree') }}" id="braintreePayment">{{ __('btn_braintree') }}</a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endif %}
{% if paymenttable.paypalwhole or paymenttable.paypalportions or paymenttable.paypalreservation %}
  <div class="span4">
    <div class="grayBg paypal">
      <h3>{{ __('heading_paypal_visa_mastercard') }}</h3>
      <img alt="PAYPAL" src="/img/paypal.jpg">
      <div class="description">
        {{ __('content_paypal') }}
        {% if (paymenttable.paypalwhole and paymenttable.paypalreservation) %}
        <p>You can also pay total amount by choosing the option <i>I want to pay altogether</i>.</p>
        <div class="once_pp">
          <input id="once_pp" type="checkbox" />
          <label for="once_pp">{{ __('title_all_together') }} {{ total_friendly | raw }}</label>
        </div>
        {% elseif paymenttable.paypalwhole %}
        <input style="display: none" id="once_pp" type="checkbox" checked="checked" />
        {% else %}
        <input style="display: none" id="once_pp" type="checkbox" />
        {% endif %}
        <div class="clear"></div>
        <a class="button whiteText big" href="{{ url.paypal }}" title="{{ __('btn_paypal') }}" id="paypalPayment">{{ __('btn_paypal') }}</a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endif %}
<!--
  {% if paymenttable.monetawhole or paymenttable.monetaportions or paymenttable.monetareservation %}
  <div class="span4">
    <div class="grayBg moneta">
      <h3>{{ __('heading_moneta') }}</h3>
      <img alt="MONETA" src="/img/moneta.png">
      <div class="description">
        {{ __('content_moneta') }}
        <div class="clear"></div>
        <a class="button whiteText big" href="{{ url.moneta }}" title="{{ __('btn_moneta') }}" id="monetaPayment">{{ __('btn_moneta') }}</a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  {% endif %}
-->
  {% if paymenttable.upnwhole or paymenttable.upnportions or paymenttable.upnreservation %}
  <!--div class="span4">
    <div class="grayBg upn">
      <h3>{{ __('heading_upn') }}</h3>
      <img alt="UPN" src="/img/upn.png">
      <div class="description">
        {{ __('content_upn') }}
        {% if paymenttable.upnwhole %}
        <div class="once">
          <input id="upn_payment_reservation" type="radio" name="upn_payment" value="reservation" />
          <label for="upn_payment_reservation">{{ __('title_reservation_only') }} {{ reservation | raw }}</label>
        </div>
        <div class="once">
          <input id="upn_payment_full" type="radio" name="upn_payment" value="full" />
          <label for="upn_payment_full">{{ __('title_all_together') }} {{ total | raw }}</label>
        </div>
        {% endif %}
        <a class="button whiteText big" href="{{ url.upn }}" title="{{ __('btn_upn') }}" id="upnPayment">{{ __('btn_upn') }}</a>
      </div>
      <div class="clear"></div>
    </div>
  </div-->
  {% endif %}
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#monetaPayment, #paypalPayment").click(function(){
      windowHeight = window.screen.availHeight;
      windowWidth = window.screen.availWidth;
      
      monetaWindow = window.open($(this).attr("href") + ($(this).attr("id") == "paypalPayment" && $("#once_pp").is(":checked") ? "?full=1" : ""),'monetaWindow','top=' + parseInt(windowHeight*0.2) + ',left=' + parseInt(windowWidth*0.2) + ',height=' + parseInt(windowHeight*0.6) + ',width=' + parseInt(windowWidth*0.6) + ',directories=false,resizable=true,menubar=false,toolbar=false,scrollbars=yes');
      monetaWindow.focus();

      return false;
    });
    $("#braintreePayment").click(function(){
      redir($(this).attr("href") + ($("#once_bt").is(":checked") ? "?full=1" : ""));
      return false;
    });
    $("#upnPayment").click(function(){
      redir($(this).attr("href") + ($("[name='upn_payment']:checked").val() == 'full' ? "?full=1" : ""));

      return false;
    });
  });
</script>
<!-- Google Code for rezervacija Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1044362002;
var google_conversion_language = "sl";

var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "Yj6qCJLQtwUQkub-8QM";

var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript"  
src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt=""  
src="//www.googleadservices.com/pagead/conversion/1044362002/?value=0&amp;label=Yj6qCJLQtwUQkub-8QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>