<legend>##TITLE##</legend>
##FILTER##
<table class="table table-striped table-condensed" id="voucherList##ID##">
	<thead>
		<tr>
			##TH START##<th>##TXT##</th>##TH END##
			<th>Test</th> 
		</tr>
	</thead>
	<tbody class="##TBODY CLASS##">
		##ROW START##
		<tr class="##CLASS##">
			##TD START##<td>##TXT##</td>##TD END##
		</tr>
		##ROW END##
	</tbody>
</table>