<!--<div class="well">
	<h1>Pozdravljeni v nadzorni plošči spletne strani.</h1>
	<p>V levem delu strani je seznam modulov, ki jih lahko urejate. S klikom na posameznega se odpre podstran s seznamom vsebin. Sledite navodilom za dodajanje, urejanje ali izbris vsebine.</p>
</div>
<div class="well">
	<h2>Tehnična podpora</h2>
	<ul>
		<li>E-mail: bojan.rajh@t-2.net in schtr4jh@schtr4jh.net</li>
		<li>Telefon: +386 (0)40 269 596</li>
		<li>Skype: schtr4jh</li>
	</ul>
</div>-->
<div class="well">
	<a class="badge badge-inverse" href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
	<a class="badge badge-info" href="http://twitter.github.com/recess/" target="_blank">RECESS</a>
	<a class="badge badge-important" href="http://lesscss.org/" target="_blank">LESS</a>
	<a class="badge badge-warning" href="http://glyphicons.com/" target="_blank">GlyphIcons</a>

	<a class="badge badge-success" href="http://rickharrison.github.com/validate.js/" target="_blank">validate.js</a>
	<a class="badge badge-inverse" href="http://jquery.com/" target="_blank">jQuery</a>
	<a class="badge badge-info" href="http://jqueryui.com/" target="_blank">jQuery UI</a>

	<a class="badge badge-important" href="http://www.w3schools.com/html5/default.asp" target="_blank">HTML5</a>
	<a class="badge badge-warning" href="http://www.w3schools.com/css3/default.asp" target="_blank">CSS3</a>
</div>