<li class="dropdown btn btn-small dropdownRelated">
	<a title="Related" class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="icon-th-list"></i></a>
	<ul class="dropdown-menu" role="menu">
		##NAVI START##<li><a tabindex="-1" href="##URL##" class="##CLASS##">##TEXT##</a></li>##NAVI END##
	</ul>
</li>