<input type="hidden" id="id" name="##SMALL##[id]" value="##ID##" />

##CONTROL GROUP START##
<div class="control-group">
	<label class="control-label" for="##FOR##">##TITLE##</label>
	<div class="controls">
    	##EDITOR##
	</div>
</div>
##CONTROL GROUP END##