<script>
	$(document).ready(function(e) {
    $("a[href=#back]").click(function(e) {
			e.preventDefault();
			window.history.back();
			return false;
		});
  });
</script>

<h1>OH SH*T, WHERE IS THE PARTY?</h1>
<p class="pdb">Obviously you have found an old link or entered a wrong URL address.</p>

<p>Go to  <a href="#back">previous page</a> or go to  <a href="/">home page</a> and browse the site.</p>

<a href="/potovanja">
  <img src="/www/img/logo-black-small.png"> CHECK THE PACKAGES, YOU WILL FIND ONE FOR YOU!
</a>