<div class="enews mf short" id="gallery-module">
  <div class="">
    <div class="content grayBg">
    	<h2>Naroči se</h2>
    	<div class="form">
    		<form id="enews-module">
          <div>
            <input id="name" name="user[name]" placeholder="Ime" type="text" />
          </div>
          <div>
            <input id="surname" name="user[surname]" placeholder="Priimek" type="text" />
          </div>
          <div>
            <input id="email" name="user[email]" placeholder="Email" type="email" />
          </div>
          <div>
            <input class="sendy" type="submit" value="POŠLJI" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- /gallery-module -->