<div class="row-fluid" style="margin-top: 2em;">
  <div class="span8 offset2">
    <h2 style="text-align: center; margin-bottom: 0.5em;">{{ __('see_video_tomorrowland_2013') }}</h2>
    <iframe style="width: 100%; height: 420px;" src="//www.youtube.com/embed/NtDG-Cnj-pw?rel=0&amp;autohide=1&amp;showinfo=0&amp;hl=en&amp;fs=1" frameborder="0" allowfullscreen></iframe>
  </div>
</div>