<input type="hidden" id="id" name="status[id]" value="##ID##" />

<div class="control-group">
	<label class="control-label" for="title">Title</label>
	<div class="controls">
    	<input type="text" id="title" name="status[title]" value="##TITLE##" class="span6" />
	</div>
</div>
