<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ seo | raw }}
    <base href="{{ baseHref }}" />
    
    {{ optimizeCss | raw }}
      <link href="/css/style.less" rel="stylesheet/less" />
      <!--<link href="/css/style.less.css" rel="stylesheet" type="text/css" />-->
      <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

      {{ gaExperiment | raw }}
      <!--[if IE]>
      <link href="/css/ie.less" rel="stylesheet/less">
      <![endif]-->
    {{ optimizeJs | raw }}
  
  
      <!-- Fav and touch icons -->
      <link rel="icon" type="image/png" href="/favicon.ico" />
      <link rel="shortcut icon" href="/favicon.ico">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-57-precomposed.png">

      <script>

</script>
<!-- IFRAME -->
<script src="/js/iframeResizer.contentWindow.min.js"></script>
<script src="/js/less.min.js"></script>

  </head>
  <body>
    {{ prehead | raw }}
    <div class="head-main{% if not customheader %} hidden{% endif %}{% if customheader %} customheader{% endif %}">
      <div class="container cont">
        {% if not customheader %}
        <img class="hBackground" src="/img/header-background.jpg">
				<div class="intro hidden-phone">
					{{ __('dozivi_svoj_fuck_yeah_moment') }}
					{{ __('dozivi_svoj_fuck_yeah_moment_subtitle') }}
					<div class="cta hidden-tablet">
						{{ __('z_nami_odpotuj_na') }}
						<a class="button whiteText big oxygen" href="/potovanja" title="{{ __('title_check_all_offers') }}">{{ __('btn_check_offer') }}</a>
					</div>
				</div>
				
				<!--div class="featured visible-desktop">
					{{ __('header_featured') }}
				</div-->
        <div class="logo-abs visible-phone">
          <!a href="/"><img alt="gremonaparty" src="/img/logosmall.png" /></a>
        </div>
        {% else %}{{ customheader | raw }}{% endif %}
      </div>
      
      <div id="minimenu">
        <div class="btn-group">
          <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 10px;">
            <img src="/img/menuicon.png" style="height: 24px; display: block;" />
            Meni
          </a>
          <ul class="dropdown-menu">
            {% for menu in menus %}<li class="{{ menu.active }}"><a href="{{ menu.url }}">{{ menu.title | raw }}</a>{% if not loop.last %}<li class="separator"></li>{% endif %}</li>{% endfor %}
          </ul>
        </div>
      </div>
    </div>
    
    <!-- class="default"-->
    <div class="container {{ cssPage }} marTop20" id="maincontainer">
      <div class="row-fluid">
        <div class="{{ leftWidth }}" id="leftcontent">
          {{ ufwDebug | raw }}
          {{ content | raw }}
        </div>
        <div class="{{ rightWidth }}">
          {{ contentRight | raw }}
        </div>
      </div>
    </div>
    
    {% if not hideFooter %}
    <div class="foot">
      <!--div class="container">
        <div class="row-fluid">
          <div class="span3">
            <div class="about">
              {{ __('footer_about') }}
            </div>
          </div>
          <div class="span3">
            <div class="col2">
              {{ __('footer_ask_us') }}
            </div>
          </div>
          <div class="span6">
            <!--{{ secondColumn | raw }}-->
          <!--/div>
        </div>
        <div class="menu">
          {{ __('footer_menu') }}
        </div>
        <div class="rights">
          <span>2015 &copy; gonparty.eu</span>
        </div>
      </div>
    </div><!-- /foot -->
		<!--div class="mobile-bottom visible-phone">
			<div class="container">
      	{% if offerpage %}
        <div class="rw">
          <div class="left-cont">
          	<a href="#enews-module">{{ __('zanima_me') }}</span></a>
          </div>
          <div class="right-cont">
            <a href="#potovanja">{{ __('prijavi_se') }}</a>
          </div>
        </div>
        {% endif %} {% if not offerpage %}
        <div class="rw">
          <div class="left-cont third">
            <a href="http://www.youtube.com/user/Gremonapartycom" target="_blank"><img class="img-responsive" src="/img/social-index/bw-yt.png"></a>
          </div>
          <div class="mid-cont">
          	<a href="https://www.facebook.com/gonparty" target="_blank"><img class="img-responsive" src="/img/social-index/bw-fb.png"></a>
          </div>
          <div class="right-cont third">
            <a href="http://instagram.com/gremonaparty" target="_blank"><img class="img-responsive" src="/img/social-index/bw-insta.png"></a>
          </div>
				</div>
        {% endif %}
        <div class="rw">
          <div class="left-cont">
            <a href="tel:+386-40-148-148">{{ __('poklici_nas') }}</a>
          </div>
          <div class="right-cont">
            <a href="/kontakt/">{{ __('poslji_nam_email') }}</a>
          </div>
				</div>
			</div-->
		</div>
    {% endif %}

<!-- Google Code for Remarketing Tag -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1041351721;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<script>
if(top !== self) { // Check we are in an iFrame
    var interval = setInterval(function(){
			if ('parentIFrame' in window) {
					clearInterval(interval);
					parentIFrame.scrollTo(0,0);
        }
    },32);
}
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1041351721/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--script src="/js/less.min.js"></script-->
    <!--{{ ufwDeveloper | raw }}-->
  </body>
</html>