<legend>Latest logins</legend>
<table class="table table-striped table-condensed">
	<tr><th>ID</th><th>User</th><th>IP</th><th>Login</th><th>Logout</th></tr>
	##ROW START##<tr><td>##ID##</td><td>##USER##</td><td>##IP##</td><td>##DATETIME##</td><td>##DT_LOGGED_OUT##</td></tr>##ROW END##
</table>