##ROW START##
<div class="row-fluid">
	<div class="span12">
		<span class="tabTitle">-- ##TITLE## --</span>
		<div style="width: 100%; clear: both; display: block;">##CONTENT##</div>
	</div>
</div>
##ROW END##
<div class="clearfix"></div>