body, html {
	margin: 0;
	padding: 0;
	
	width: 100%;
	
	/*background: #eee url(/img/bg_head.png) center top no-repeat;*/
	background-color: #eee;
	
	font-family: Arial, Helvetica, sans-serif;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
	line-height: 1em;
	color: #393939;
}

p {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
}

p, span, a, div {
	font-size: 100%;
	line-height: 100%;
}

a {
	color: #000;
	text-decoration: none;
}

a img { border: 0px; }

.cb { clear: both !important; }

.fr { float: right; }

.mr10 { margin-right: 10px; }

table tr td {
	font-size: 12px;
}

.upnsepa {
	width: 100%;
	display: block;
	height: auto;
	clear: both;
}

.upnsepa.payee {
	background-color: #ffdbd1;
}
.upnsepa.gnp {
	background-color: #fff6cc;
}

.upnsepa label {
	color: #e37676;
	display: block;
	clear: both;
	float: left;
	margin-top: 8px;
	margin-bottom: 3px;
	font-size: 13px;
	margin-left: 1%;
	font-weight: bold;
}

.upnsepa span {
	color: #333;
	display: block;
	clear: both;
	float: left;
	background: #fafafa;
	border: 1px solid #aaa;
	height: 20px;
	line-height: 20px;
	width: 85%;
	margin-bottom: 0px;
	font-size: 13px;
	padding: 0% 1%;
	font-weight: bold;
}

.upnsepa .type {
	width: 5%;
	float: left;
	display: block;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	color: #e37676;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 130px;
	font-size: 14px;
}

.upnsepa .con {
	width: 95%;
	float: left;
	display: block;
	margin-bottom: 20px;
}

.upnsepa .wOneHalf {
	width: 50%;
	float: left;
	display: block;
}

.upnsepa  .wFull {
	width: 100%;
	float: left;
	display: block;
}

.upnsepa .stamp {
	border: 1px solid #e37676;
	width: 70%;
	height: 65px;
	float: left;
	display: block;
	margin-top: 23px;
	margin-left: 7.5%;
	padding: 0% 1%;
}

.upnsepa .stamp:after {
	clear: both;
	content: '';
}