@font-face {
  font-family: Nimbus;
  src: url(/css/fonts/NimbusSan-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: Nimbus;
  src: url(/css/fonts/Nimbus-Sans-Black.otf);
  font-weight: bold;
}
/* VARIABLES */
/* MIXINS */
#btnContactSubmit {
  color: #EF1736;
}
/* ELEMENTS */
body {
  background: url(/img/bgpattern.jpg) repeat;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding-top: 40px;
  min-width: 350px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nimbus', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
h1.gray,
h2.gray,
h3.gray,
h4.gray,
h5.gray,
h6.gray,
h1 .gray,
h2 .gray,
h3 .gray,
h4 .gray,
h5 .gray,
h6 .gray {
  color: #adaaaa;
}
h1 {
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 8px;
  padding-bottom: 13px;
}
h1 .bl {
  border-left: 4px solid #000;
  margin-bottom: 21px;
  padding-bottom: 0;
  padding-left: 15px;
}
h2 {
  font-size: 22px;
  line-height: 24px;
}
h3 {
  font-size: 18px;
  line-height: 20px;
}
a:hover {
  cursor: pointer;
}
p {
  line-height: 19px;
  margin-bottom: 5px;
}
table,
tr,
td {
  vertical-align: top;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* CLASSES */
.clear {
  clear: both !important;
}
a.title {
  color: #000;
}
a.title:hover {
  text-decoation: none;
}
.conteiner {
  margin: 0 auto;
  width: 960px;
}
.container.marTop20 {
  margin-top: 20px;
}
.container.marTop40 {
  margin-top: 40px;
}
/* BOOTSTRAP RESET */
.navbar {
  margin-bottom: 0;
}
.offer [class*="span"] {
  margin: 0;
}
.container .row > .span6:first-child,
.container .row > .span7:first-child {
  margin-left: 0px;
  /* to tut ni kul */

  /* če že, potem se generira nov bootstrap */

  /* plus tega, da gre struktura htmlja OBVEZNO .container < .row < span < ostali html */

  /* .container in .container-fluid sta lahko samo najbolj zunanja htmlja */

  /* .row lahko obstaja samo v .container, .container-fluid in .span */

  /* .span lahko obstaja samo v .row */

}
/* BUTTONS */
.button {
  border: 0;
  color: #FFF !important;
  padding: 7px 11px;
  text-align: center;
  /*.drop-shadow(0px, 2px, 1px, 0px, 0.4);*/

  background: #f0b800;
  border: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.button.whiteText {
  color: #FFF !important;
}
.button.big {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 30px;
  /*.drop-shadow(0px 3px 1px 0px, 0.4);*/

}
.button.bold {
  font-weight: bold;
}
.button.oxygen {
  font-family: Arial, Helvetica, sans-serif !important;
}
.button.oswald {
  font-family: 'Nimbus', sans-serif !important;
}
.button.medium {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 3px 1px 0px 0.4 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 1px 0px 0.4 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 1px 0px 0.4 2px 2px rgba(0, 0, 0, 0.1);
}
.button.long {
  padding: 10px 60px;
}
.button.gray {
  background: #969696;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #9e9e9e), color-stop(1, #8f8f8f));
  background: -ms-linear-gradient(bottom, #9e9e9e, #8f8f8f);
  background: -moz-linear-gradient(center bottom, #9e9e9e 0%, #8f8f8f 100%);
  background: -o-linear-gradient(#8f8f8f, #9e9e9e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f8f8f', endColorstr='#9e9e9e', GradientType=0);
}
.button:hover {
  text-decoration: none;
}
.button.green {
  background: #4fb00e;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4fb00e), color-stop(1, #479f0d));
  background: -ms-linear-gradient(bottom, #4fb00e, #479f0d);
  background: -moz-linear-gradient(center bottom, #4fb00e 0%, #479f0d 100%);
  background: -o-linear-gradient(#479f0d, #4fb00e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#479f0d', endColorstr='#4fb00e', GradientType=0);
}
.button:disabled {
  background: #221c1c;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #221c1c), color-stop(1, #2c2727));
  background: -ms-linear-gradient(bottom, #221c1c, #2c2727);
  background: -moz-linear-gradient(center bottom, #221c1c 0%, #2c2727 100%);
  background: -o-linear-gradient(#2c2727, #221c1c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c2727', endColorstr='#221c1c', GradientType=0);
}
.button:hover {
  background: rgba(239, 106, 35, 0.9);
}
.sendy {
  background-color: transparent;
  background: url("/img/icons/arrow-small-black.png") right center no-repeat;
  border: 0;
  color: #f0b800;
  font-family: 'Nimbus', sans-serif;
  font-size: 14px;
  padding: 0 15px 0 0;
  vertical-align: top;
}
.sendy.white {
  color: #FFF;
}
.sendy.processing {
  background: url("/img/ajax-loader.gif") right center no-repeat;
  padding: 0 20px 0 0;
}
.sendy.processing.gray {
  background: url("/img/ajax-loader-graybg.gif") right center no-repeat;
}
.button-green {
  border: 1px solid #53b90f;
  color: #FFF;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 7px 0;
  text-align: center;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 0 -1px 1px #3f8d0c;
  filter: dropshadow(color=#b31419, offx=0, offy=-1);
  -webkit-box-shadow: 0 6px 10px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 6px 10px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 10px -1px rgba(0, 0, 0, 0.5);
  background: #4fb00e;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4fb00e), color-stop(1, #479f0d));
  background: -ms-linear-gradient(bottom, #4fb00e, #479f0d);
  background: -moz-linear-gradient(center bottom, #4fb00e 0%, #479f0d 100%);
  background: -o-linear-gradient(#479f0d, #4fb00e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#479f0d', endColorstr='#4fb00e', GradientType=0);
}
.button-pink {
  border: 1px solid #e8252a;
  color: #FFF;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 7px 0;
  text-align: center;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 0 -1px 1px #b31419;
  filter: dropshadow(color=#b31419, offx=0, offy=-1);
  -webkit-box-shadow: 0 6px 10px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 6px 10px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 10px -1px rgba(0, 0, 0, 0.5);
  background: #e11a1f;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e11a1f), color-stop(1, #ca171c));
  background: -ms-linear-gradient(bottom, #e11a1f, #ca171c);
  background: -moz-linear-gradient(center bottom, #e11a1f 0%, #ca171c 100%);
  background: -o-linear-gradient(#ca171c, #e11a1f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca171c', endColorstr='#e11a1f', GradientType=0);
}
.button-pink:hover {
  color: #FFF;
}
/* BOXES */
.grayShadow {
  background: url('/img/shadow-bottom.png') no-repeat bottom center;
  padding-bottom: 12px;
}
.grayBg {
  background-color: #e5e5e5;
  border: 1px solid #FFF;
  padding: 15px 17px 15px;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(55, 55, 55, 0.2);
  box-shadow: 0px 1px 10px 0px rgba(55, 55, 55, 0.2);
}
.grayBg.whiteA {
  background-color: #FFF;
}
.grayBg.blackA {
  background-color: #222;
  color: #FFF;
}
.grayBg.borderless {
  border: 0;
}
.grayBg.nopadding {
  padding: 0;
}
.redBg {
  background: #e11a1f;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e11a1f), color-stop(1, #ca171c));
  background: -ms-linear-gradient(bottom, #e11a1f, #ca171c);
  background: -moz-linear-gradient(center bottom, #e11a1f 0%, #ca171c 100%);
  background: -o-linear-gradient(#ca171c, #e11a1f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca171c', endColorstr='#e11a1f', GradientType=0);
  border: 1px solid #FFF;
  padding: 15px 17px 15px;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(55, 55, 55, 0.2);
  box-shadow: 0px 1px 10px 0px rgba(55, 55, 55, 0.2);
}
.redBg.whiteA {
  background-color: #FFF;
}
.redBg.blackA {
  background-color: #222;
  color: #FFF;
}
/* HEAD */
.head-main {
  margin-bottom: 40px;
  position: relative;
}
.head-main.customheader {
  margin-bottom: 0;
}
.head-main .container {
  position: relative;
}
.head-main .hBackground {
  width: 100%;
}
.head-main .logo-abs {
  position: absolute;
  right: 10%;
  top: 16px;
}
.head-main .menu-logo {
  float: left;
  position: relative;
  z-index: 3;
}
.head-main .menu-logo a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 20px;
}
.head-main .menu-logo a:hover {
  text-decoration: none;
}
.head-main .featured {
  bottom: 50px;
  position: absolute;
  right: 50px;
  width: 178px;
}
.head-main .featured img {
  float: left;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 15px;
}
.head-main .featured a {
  color: #FFF;
}
.head-main .featured a:hover {
  color: #DDD;
  text-decoration: none;
}
.head-main .featured p {
  margin: 0;
  padding: 5px 0 0;
}
.head-main .featured p.ttle {
  padding-top: 2px;
}
.head-main .intro {
  color: #FFF;
  left: 50px;
  position: absolute;
  top: 95px;
}
.head-main .intro h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}
.head-main .intro .subtitle {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.head-main .intro .cta {
  width: 450px;
}
.head-main .intro .cta p {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 250px;
}
.head-main .intro .cta a {
  font-size: 16px;
  margin-left: 21px;
  padding: 11px 17px;
  vertical-align: text-bottom;
}
.head-main.minimal .featured,
.head-main.minimal .intro {
  display: none;
}
.head-main.minimal .container {
  height: 50px;
  overflow: hidden;
}
.main-menu {
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}
.main-menu .container {
  position: relative;
}
.main-menu .login {
  color: #f0b800;
  font-size: 14px;
  line-height: 50px;
  margin-right: 5px;
  text-transform: none;
}
.main-menu .login:hover {
  text-decoration: none;
}
.main-menu ul {
  font-family: 'Nimbus', sans-serif;
  list-style: none inside;
  margin: 0;
  position: relative;
  text-align: right;
  z-index: 2;
}
.main-menu ul li {
  height: 50px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: bottom;
}
.main-menu ul li:hover {
  background-color: rgba(200, 200, 200, 0.2);
}
.main-menu ul li.separator {
  border-left: 1px solid #000;
  border-right: 1px solid #272727;
}
.main-menu ul li a {
  color: #FFF;
  height: 100%;
  line-height: 50px;
  padding: 0 14px;
  text-transform: uppercase;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.main-menu ul li a:hover {
  text-decoration: none;
}
.main-menu .background {
  background: #000000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0f0f0f), color-stop(1, #000000));
  background: -ms-linear-gradient(bottom, #0f0f0f, #000000);
  background: -moz-linear-gradient(center bottom, #0f0f0f 0%, #000000 100%);
  background: -o-linear-gradient(#000000, #0f0f0f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0f0f0f', GradientType=0);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
}
/*.head-main {
  background-color:#000;
  & > .container {
    img {
      width:100%;
    }
  }
  .navbar-inner {
    border:0 !important;
    font-family:@ftSecondary;
    font-size:14px;
    text-transform:uppercase;
		
		.gradient(#000, #000, #0f0f0f);
    
    .nav {
      li {
        border-right: 1px solid #343434;
        
        &:first-child{
          border-left: 1px solid #343434;
        }
        &.active {
					.gradient(#1f1f1f, #1f1f1f, #2c2c2c);

					a {
						background-color:transparent;
						background:url(/img/triangle-up-white.png) no-repeat bottom center;
					}
        }
        
        a {
          color:#FFF;
					
        	filter: dropshadow(color=#ffffff, offx=0, offy=0);
					text-shadow: 0px 0px 0px #ffffff;
        }
      }
    }
    
    .mobileLogin {
      display:inline-block;
      color:#FFF;
      float:right;
      padding-top:1%;
      zoom:1;
      *display:inline;
      
      .login {
        color:@crMain;
        font-size:14px;
        text-transform:lowercase;
        
        &:hover {
          text-decoration:none;
        }
        
        span {
          margin:0 5px;
        }
      }
    }
  }
} */
/* DEFAULT 2 COLUMN LAYOUT */
.container.default .left {
  float: left;
  vertical-align: top;
  width: 65%;
}
.container.default .right {
  float: left;
  margin-left: 5%;
  vertical-align: top;
  width: 30%;
}
/* 404 */
.r404 {
  text-align: center;
}
.r404 h1 {
  font-size: 36px;
  margin: 20px 0 20px;
}
.r404 p {
  color: #868686;
  margin-bottom: 0;
}
.r404 p a {
  color: #f0b800;
}
.r404 .exist {
  color: #000;
  margin-bottom: 17px;
}
.r404 .pdb {
  margin-bottom: 20px;
}
.r404 .span12 > a {
  background-color: #f0b800;
  color: #000;
  display: inline-block;
  font-family: 'Nimbus', sans-serif;
  font-size: 14px;
  margin-top: 30px;
  padding: 15px 100px;
  zoom: 1;
  *display: inline;
}
.r404 .span12 > a:hover {
  text-decoration: none;
}
.r404 .span12 > a img {
  margin-right: 8px;
  vertical-align: text-bottom;
}
/* DOMOV */
.home-offers {
  clear: both;
}
.home-offers .info {
  font-size: 12px;
  line-height: 14px;
}
.title-offers .left {
  float: left;
  padding-bottom: 15px;
}
.title-offers h2 {
  font-size: 26px;
  line-height: 30px;
}
/* PREDRAČUN */
.estimateform .subscriber h2 {
  margin: 20px 0 10px 0;
}
.estimateform .subscriber .grayBg div {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-right: 10%;
  vertical-align: top;
}
.estimateform .subscriber .grayBg div h3 {
  margin-bottom: 18px;
}
.estimateform .subscriber .grayBg div p {
  line-height: 16px;
}
.estimateform .calculation {
  margin-top: 25px;
}
.estimateform .calculation h2 {
  margin-bottom: 15px;
}
.estimateform .calculation table {
  background-color: #e5e5e5;
  border: 1px solid #FFF;
  padding: 15px 17px 15px;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(55, 55, 55, 0.2);
  box-shadow: 0px 1px 10px 0px rgba(55, 55, 55, 0.2);
  width: 100%;
}
.estimateform .calculation table.whiteA {
  background-color: #FFF;
}
.estimateform .calculation table.blackA {
  background-color: #222;
  color: #FFF;
}
.estimateform .calculation table.borderless {
  border: 0;
}
.estimateform .calculation table.nopadding {
  padding: 0;
}
.estimateform .calculation table thead tr {
  color: #FFF;
  background: #c1c1c1;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c7c7c7), color-stop(1, #bababa));
  background: -ms-linear-gradient(bottom, #c7c7c7, #bababa);
  background: -moz-linear-gradient(center bottom, #c7c7c7 0%, #bababa 100%);
  background: -o-linear-gradient(#bababa, #c7c7c7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bababa', endColorstr='#c7c7c7', GradientType=0);
  text-align: left;
}
.estimateform .calculation table tbody tr {
  border-bottom: 1px solid #c7c7c7;
}
.estimateform .calculation table th {
  font-family: 'Nimbus', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 15px;
}
.estimateform .calculation table td {
  padding: 20px 15px;
}
.estimateform .calculation table tfoot {
  color: #AAA;
  font-family: 'Nimbus', sans-serif;
  text-align: right;
  text-transform: uppercase;
}
.estimateform .calculation table tfoot td {
  font-size: 18px;
  font-style: italic;
  vertical-align: baseline;
}
.estimateform .calculation table tfoot span {
  color: #000;
  font-style: normal;
  margin-left: 7px;
}
.estimateform .calculation .portions {
  font-style: normal;
  font-size: 12px;
  text-transform: none;
  margin-top: 4px;
}
.estimateform .reservation {
  margin-top: 15px;
}
.estimateform .reservation h3 {
  margin-bottom: 27px;
}
.estimateform .reservation .text {
  float: left;
  width: 75%;
}
.estimateform .reservation .price {
  float: left;
  font-family: 'Nimbus', sans-serif;
  font-size: 26px;
  text-align: center;
  width: 25%;
}
.estimateform .separatorLines {
  height: 20px;
  position: relative;
  width: 100%;
}
.estimateform .separatorLines .col {
  background-color: #dadada;
  height: 100%;
  position: absolute;
  width: 9px;
}
.estimateform .separatorLines .first {
  left: 3%;
}
.estimateform .separatorLines .second {
  right: 3%;
}
.estimateform .rest h3 {
  margin-bottom: 20px;
}
.estimateform .rest h3 span {
  float: right;
  margin-right: 4%;
}
.estimateform .rest .text {
  color: #9c9b9b;
  float: left;
  width: 65%;
}
.estimateform .rest .portions {
  font-style: italic;
  padding-right: 4%;
  text-align: right;
}
.estimateform .rest .portions select {
  margin-left: 3px;
  vertical-align: baseline;
  width: 60px;
}
.estimateform .ports {
  font-family: 'Nimbus', sans-serif;
  font-size: 16px;
  line-height: 18px;
}
.estimateform .ports .portNum {
  float: left;
  width: 20%;
}
.estimateform .ports .paymentDate {
  color: #939393;
  float: left;
  width: 30%;
}
.estimateform .ports .paymentDate span {
  color: #000;
  margin-left: 5px;
}
.estimateform .ports .status {
  float: left;
  display: block;
  text-align: left;
  width: 30%;
}
.estimateform .ports .sum {
  float: left;
  padding-right: 4%;
  text-align: right;
  width: 16%;
}
.estimateform .ports .portion {
  padding: 10px 0;
}
.estimateform .last {
  margin-top: 20px;
}
.estimateform .last p {
  color: #9b9b9b;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-left: 15px;
  width: 300px;
}
.estimateform .last .button {
  float: right;
}
/* IZBIRA PLAČILNEGA SREDSTVA */
.container.payment .intro {
  border-bottom: 1px solid #c7c7c7;
  color: #9c9b9b;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px 0 20px 0;
}
.container.payment h2 {
  margin-top: 30px;
  padding-bottom: 20px;
}
.container.payment h3 {
  border-bottom: 1px solid #FFF;
  margin-bottom: 25px;
  padding-bottom: 20px;
}
.container.payment .moneta img,
.container.payment .paypal img,
.container.payment .upn img {
  float: left;
  width: 20%;
}
.container.payment .moneta .description,
.container.payment .paypal .description,
.container.payment .upn .description {
  float: right;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 62%;
}
.container.payment .moneta .description p:first-child,
.container.payment .paypal .description p:first-child,
.container.payment .upn .description p:first-child {
  margin-top: 0;
}
.container.payment .moneta #upnPayment,
.container.payment .paypal #upnPayment,
.container.payment .upn #upnPayment {
  float: right;
}
.container.payment .moneta .button,
.container.payment .paypal .button {
  float: right;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-top: 30px;
}
.container.payment .upn .button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-top: 30px;
}
.container.payment .upn input {
  float: left;
  margin: 10px 10px 0 0;
}
.skip-payment-step.order ul#steps .hide-in-skip-payment-variant,
.skip-payment-step.estimateform ul#steps .hide-in-skip-payment-variant,
.skip-payment-step.payment ul#steps .hide-in-skip-payment-variant {
  display: none;
}
.skip-payment-step.order ul#steps .show-in-skip-payment-variant,
.skip-payment-step.estimateform ul#steps .show-in-skip-payment-variant,
.skip-payment-step.payment ul#steps .show-in-skip-payment-variant {
  display: list-item !important;
}
.container.order h1.np,
.container.estimateform h1.np,
.container.payment h1.np {
  margin: 40px 0px 20px 0px;
  padding: 0 20px;
  border-left: 5px #ccc solid;
  font-size: 36px;
  line-height: 36px;
}
.container.order ul#steps,
.container.estimateform ul#steps,
.container.payment ul#steps {
  display: block;
  line-height: 60px;
  min-height: 60px;
  height: auto;
  background: #2f2d2e;
  margin: 0;
  padding: 0;
  clear: both;
}
.container.order ul#steps li,
.container.estimateform ul#steps li,
.container.payment ul#steps li {
  padding: 0 25px;
  float: left;
  list-style: none;
  line-height: 60px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}
.container.order ul#steps li.active,
.container.estimateform ul#steps li.active,
.container.payment ul#steps li.active {
  background-color: #444;
}
.container.order ul#steps li.current,
.container.estimateform ul#steps li.current,
.container.payment ul#steps li.current {
  font-weight: bold;
  background: #444444 url(/img/active_step.png) center right no-repeat;
  padding-right: 50px;
}
.container.order ul#steps:after,
.container.estimateform ul#steps:after,
.container.payment ul#steps:after {
  content: '';
  display: block;
  clear: both;
}
.container.order ul#steps li.show-in-skip-payment-variant,
.container.estimateform ul#steps li.show-in-skip-payment-variant,
.container.payment ul#steps li.show-in-skip-payment-variant,
.container.order ul#steps li.show-in-skip-payment-variant,
.container.estimateform ul#steps li.show-in-skip-payment-variant,
.container.payment ul#steps li.show-in-skip-payment-variant,
.container.order ul#steps li.show-in-skip-payment-variant,
.container.estimateform ul#steps li.show-in-skip-payment-variant,
.container.payment ul#steps li.show-in-skip-payment-variant {
  display: none;
}
.container.order .whiteBg,
.container.estimateform .whiteBg,
.container.payment .whiteBg {
  background: #fff;
  padding: 30px;
  margin-top: 30px;
}
.container.order.confirmform #leftcontent h1,
.container.estimateform.confirmform #leftcontent h1,
.container.payment.confirmform #leftcontent h1 {
  margin-top: 0;
}
/* NAROČILNICA */
.container.order input[type='text'],
.container.order select {
  width: 80%;
}
.container.order h2 {
  border-top: 1px solid #c7c7c7;
  padding: 20px 0;
}
.container.order h3 {
  padding-bottom: 20px;
}
.container.order .instructions {
  color: #9c9b9b;
  padding: 20px 0;
}
.container.order .instructions span {
  font-style: italic;
}
.container.order .includes {
  /*border-left: 1px solid #aaa;
		margin: 0;
		margin-top: 10px;
		padding: 0;
		padding-left: 10px;*/

}
.container.order .includes li {
  /*list-style: none;*/

  line-height: 30px;
  font-size: 14px;
}
.container.order .grayBg {
  position: relative;
}
.container.order .additions .boxd {
  clear: both;
  display: block;
  padding-bottom: 10px;
}
.container.order .departure h3,
.container.order .additions h3 {
  border-bottom: 1px solid #FFF;
  margin-bottom: 10px;
}
.container.order .departure ul,
.container.order .additions ul {
  list-style: none;
  margin-left: 0;
}
.container.order .departure ul li,
.container.order .additions ul li {
  line-height: 30px;
  font-size: 14px;
  position: relative;
}
.container.order .departure ul li label span,
.container.order .additions ul li label span {
  color: #747474;
  margin-left: 5px;
  float: right;
  font-size: 14px;
}
@media (min-width: 768px) {
  .container.order .departure ul li .cloud.right,
  .container.order .additions ul li .cloud.right {
    left: auto;
    margin-right: 15px;
    min-width: inherit;
    right: 100%;
    width: auto;
  }
  .container.order .departure ul li .cloud.right .triangle,
  .container.order .additions ul li .cloud.right .triangle {
    border-left: 10px solid #333;
    border-right: 0;
    left: auto;
    right: -10px;
  }
  .container.order .departure ul li .cloud.right .square,
  .container.order .additions ul li .cloud.right .square {
    min-width: 200px;
  }
}
.container.order .departure input,
.container.order .additions input {
  margin-right: 18px;
  vertical-align: sub;
}
.container.order .basis {
  clear: left;
  color: #989898;
  font-family: 'Nimbus', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  position: relative;
}
.container.order .perSum {
  bottom: 5px;
  clear: left;
  color: #666;
  float: right;
  font-family: 'Nimbus', sans-serif;
  font-size: 18px;
  font-style: italic;
  padding-right: 3px;
  position: relative;
  right: 5px;
}
.container.order .perSum span {
  padding-left: 5px;
}
.container.order #confirmPayee {
  margin: 15px 0;
}
.container.order .sumAll {
  color: #939393;
  font-family: 'Nimbus', sans-serif;
  font-size: 24px;
  padding: 5px 30px 0 0;
}
.container.order .sumAll span {
  color: #000;
}
.container.order .sumAll .portions {
  color: #BBB;
  font-size: 12px;
  margin-top: 4px;
  text-align: right;
}
.container.order .customer {
  min-height: 250px;
}
.container.order .customer > div {
  position: relative;
}
.container.order .removeCustomer {
  cursor: pointer;
}
/* PROFIL UPORABNIKA */
.container.profile .orders table {
  margin-top: 15px;
}
.container.profile .orders table thead tr {
  color: #FFF;
  font-size: 15px;
  background: #c1c1c1;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c7c7c7), color-stop(1, #bababa));
  background: -ms-linear-gradient(bottom, #c7c7c7, #bababa);
  background: -moz-linear-gradient(center bottom, #c7c7c7 0%, #bababa 100%);
  background: -o-linear-gradient(#bababa, #c7c7c7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bababa', endColorstr='#c7c7c7', GradientType=0);
}
.container.profile .orders table thead tr th {
  padding: 15px;
  text-align: left;
}
.container.profile .orders table .data td {
  padding: 35px 15px 27px;
}
.container.profile .orders table .action td div {
  background: #e1e1e1;
  -webkit-box-shadow: inset 0 0 13px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 13px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 13px 1px rgba(0, 0, 0, 0.1);
}
.container.profile .orders table .action td a {
  color: #f0b800;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-right: 25px;
  padding: 10px 15px;
}
.container.profile .orders table .action td img {
  margin-right: 10px;
  max-height: 16px;
}
.container.profile .about {
  background-color: #FFF;
  padding: 15px 10px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.container.profile .about h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  padding-bottom: 5px;
  text-transform: none;
}
.container.profile .about h1 span {
  font-size: 18px;
  font-weight: bold;
}
.container.profile .about .orders {
  color: #f0b800;
  font-size: 14px;
}
.container.profile .about ul {
  background-color: #efefef;
  list-style: inside none;
  margin-top: 5px;
  margin-left: 0;
  padding-bottom: 10px;
}
.container.profile .about ul li {
  padding: 6px 10px 0;
}
.container.profile .about ul li h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: none;
}
.container.profile .about ul li.head {
  border-bottom: 1px solid #FFF;
  padding: 10px;
}
.container.profile .about .button-pink {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* KONTAKT */
.container.contact-page h1 {
  border-bottom: 0;
  margin-bottom: 30px;
}
.container.contact-page h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 5px;
  text-transform: none;
}
.container.contact-page .fast p {
  color: #f0b800;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding-bottom: 3px;
}
.container.contact-page .company {
  border-top: 1px solid #cdcdcd;
  color: #919191;
  font-size: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
}
.container.contact-page .company ul {
  list-style: none;
  margin: 0;
  padding-top: 13px;
}
.container.contact-page .company ul li {
  line-height: 12px;
}
.container.contact-page .error {
  color: #FFF;
  max-width: 100% !important;
  margin: 5px 0 0 0;
  padding: 0;
}
.container.contact-page #success {
  display: none;
}
.container.contact-page #quick-contact {
  background-color: #e5e5e5;
  max-width: 660px;
  padding: 20px 30px;
}
.container.contact-page #quick-contact h2 {
  margin-bottom: 20px;
}
.container.contact-page #quick-contact p {
  margin-bottom: 15px;
  max-width: 430px;
}
.container.contact-page #quick-contact #name {
  background: #ffffff url(/img/icons/contact-personal.png) no-repeat 6px center;
  display: block;
  font-size: 12px;
  line-height: 14px;
  margin-right: 2%;
  padding: 1%;
  text-indent: 25px;
  width: 61%;
}
.container.contact-page #quick-contact #email {
  background: #ffffff url(/img/icons/contact-email.png) no-repeat 6px center;
  display: block;
  font-size: 12px;
  line-height: 14px;
  padding: 1%;
  text-indent: 25px;
  width: 61%;
}
.container.contact-page #quick-contact #phone {
  background: #ffffff url(/img/icons/phone.png) no-repeat 8px center;
  display: block;
  font-size: 12px;
  line-height: 14px;
  padding: 1%;
  text-indent: 25px;
  width: 61%;
}
.container.contact-page #quick-contact #message {
  background: #ffffff url(/img/icons/contact-message.png) no-repeat 6px 6px;
  display: block;
  font-size: 12px;
  height: 135px;
  line-height: 14px;
  text-indent: 25px;
  padding: 1%;
  width: 98%;
}
.container.contact-page #quick-contact #submit {
  background: url(/img/icons/arrow-small-black.png) no-repeat right center;
  border: none;
  color: #FFF;
  font-family: 'Nimbus', sans-serif;
  padding-right: 20px;
  text-transform: uppercase;
}
.nml {
  margin-left: 0 !important;
}
.nml h3 {
  width: 94% !important;
}
.container.news .odd,
.container.single-article .odd {
  margin-left: 0;
  clear: left;
}
.container.news .archive .years,
.container.single-article .archive .years {
  display: inline;
  float: right;
  text-align: right;
  width: 50%;
}
.container.news .archive .years a,
.container.single-article .archive .years a {
  color: #f0b800 !important;
  font-size: 22px;
  line-height: 24px;
}
.container.news .archive .years a.active,
.container.single-article .archive .years a.active,
.container.news .archive .years a:hover,
.container.single-article .archive .years a:hover {
  color: #333 !important;
}
.container.news .archive .years span,
.container.single-article .archive .years span {
  display: inline-block;
  background-color: #999;
  width: 3px;
  height: 3px;
  vertical-align: super;
  margin: 0 1%;
  zoom: 1;
  *display: inline;
}
.container.news .archive .list h3,
.container.single-article .archive .list h3 {
  margin: 30px 0 5px;
}
.container.news .archive .list ul,
.container.single-article .archive .list ul {
  list-style: none inside;
  margin-left: 0;
}
.container.news .archive .list ul li a,
.container.single-article .archive .list ul li a {
  color: #f0b800 !important;
}
.container.news .archive .list ul li a span,
.container.single-article .archive .list ul li a span {
  color: #b4b4b4;
}
.container.news .archive .list ul li a .bullet,
.container.single-article .archive .list ul li a .bullet {
  margin-right: 10px;
}
.container.news .archive .list ul li a:visited,
.container.single-article .archive .list ul li a:visited {
  color: #666 !important;
}
.container.news .archive .list ul li a:hover,
.container.single-article .archive .list ul li a:hover {
  color: #000 !important;
}
.container.news .archive .list ul li a:hover span,
.container.single-article .archive .list ul li a:hover span {
  color: #000 !important;
}
/* NEWS - ARTICLE */
.container.single-article .fb-like {
  width: 200px !important;
}
.container.single-article .date {
  float: left;
  margin-right: 25px;
}
.container.single-article .content iframe {
  width: 100%;
}
.container.single-article h1 {
  margin-bottom: 25px;
}
.container.single-article .top {
  float: left;
  margin-bottom: 4%;
  margin-right: 4%;
  max-height: 215px;
  overflow: hidden;
  width: 100%;
}
.container.single-article .main-pic {
  width: 100%;
}
.container.single-article .date {
  color: #BBB;
  margin-bottom: 1%;
}
.container.single-article .date p {
  padding-bottom: 0;
  margin-bottom: 0;
}
.container.single-article .content {
  clear: both;
  max-width: 600px;
  margin: 0;
}
/* MIKROFON */
.headline {
  margin: 50px 0 55px;
}
.headline p {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  color: #ef3334;
  padding: 10px 0;
}
.headline p span {
  color: #000;
}
.headline .pic {
  float: left;
  margin-top: -15px;
  padding-right: 4%;
  width: 10%;
}
.headline div.text {
  display: inline-block !important;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  width: 75%;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
/* NAGRADNA IGRA */
.game {
  border-top: 1px solid #e5e5e5;
  margin-top: 50px;
  padding-top: 10px;
}
.game h2 {
  margin-bottom: 15px;
}
.game > img {
  max-height: initial;
  max-width: initial;
}
.game .imageBox {
  overflow: hidden;
}
.game .content {
  background: #e5e5e5 url('/img/logo-gray-big.png') bottom right no-repeat;
}
.game .content .question {
  font-family: 'Nimbus', sans-serif;
  font-size: 15px;
  margin-top: 5px;
  text-transform: uppercase;
}
.game .content form .answer {
  font-size: 12px;
  padding-bottom: 15px;
}
.game .content form .answer div {
  padding: 2px 0;
}
/* 404 page */
.p404 {
  padding-top: 100px;
  text-align: center;
}
.p404 h1 {
  margin-bottom: 30px;
}
.p404 .more {
  color: #868686;
  margin-top: 15px;
}
.p404 .more p {
  margin-bottom: 0;
  padding-bottom: 0;
}
.p404 .more p:first-child {
  margin-bottom: 15px;
}
.p404 .more a {
  color: #f0b800;
}
.p404 > div > a {
  color: #000;
  font-family: 'Nimbus', sans-serif;
  text-decoration: none;
}
.p404 > div > a div {
  background: #f0b800;
  font-size: 14px;
  margin: 3% auto 10%;
  padding: 2%;
  width: 40%;
}
.p404 > div > a div img {
  margin-right: 2%;
  max-height: 25px;
  vertical-align: text-bottom;
}
/* ALBUM */
.container.album .gallery {
  border-top: 1px solid #d7d7d7;
  margin-top: 70px;
  padding: 15px;
}
.container.album .gallery h2 {
  padding-bottom: 20px;
}
.container.album .gallery h2 img {
  vertical-align: baseline;
}
.container.album .titleH {
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.container.album .titleH .title img {
  height: 26px;
  margin: 0 10px;
  vertical-align: baseline;
}
.container.album .titleH h1,
.container.album .titleH h2 {
  border: 0;
  display: inline;
  padding-bottom: 0;
}
.container.album .titleH a:hover {
  text-decoration: none;
}
.container.album .titleH h2 {
  color: #A3A3A3;
  display: inline;
  font-size: 30px;
  line-height: 34px;
}
.container.album .album-list div {
  float: left;
  height: 100px;
  margin: 0 6% 6% 0;
  overflow: hidden;
  width: 19%;
}
.container.album .album-list div a img {
  min-height: 100%;
  min-width: 100%;
}
.container.album .album-list div a img.nml {
  margin-right: 0;
}
.container.album .moreAlbums {
  clear: both;
}
/* E-NOVICE */
.enews {
  margin: 50px 0;
}
.enews h3 {
  padding-bottom: 15px;
}
.enews #success {
  display: none;
}
.enews .text {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-top: 30px;
  padding-right: 5%;
  vertical-align: top;
  width: 40%;
}
.enews .text strong {
  color: #f0b800;
}
.enews .form {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 55%;
}
.enews .form input[type=text],
.enews .form input[type=email] {
  padding-left: 2%;
  padding-right: 2%;
  width: 96%;
}
.enews.short {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}
.enews.short h2 {
  border-bottom: 0;
  color: #C7C7C7;
  margin-bottom: 0;
}
.enews.short .form {
  width: 100%;
}
.enews.offer {
  display: none;
  margin-top: 120px;
}
.enews.offer strong {
  color: #000;
}
.enews.offer .text {
  padding-right: 5%;
  width: 45%;
}
.enews.offer .form {
  width: 50%;
}
/* GALLERY */
.gallery h1 {
  margin-bottom: 30px;
}
.gallery h1 img {
  height: 22px;
  padding-left: 7px;
  vertical-align: baseline;
}
.gallery .picture-frame {
  margin-bottom: 4%;
  position: relative;
  overflow: hidden;
}
.gallery .picture-frame:hover {
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.6);
}
.gallery .picture-frame:hover .heading {
  bottom: 9%;
}
.gallery .picture-frame a:hover {
  text-decoration: none;
}
.gallery .picture-frame img {
  width: 100%;
}
.gallery .picture-frame.new {
  margin-left: 0;
  max-height: 200px;
  clear: left;
}
.gallery .picture-frame .heading {
  bottom: 8%;
  position: absolute;
  width: 100%;
}
.gallery .picture-frame .heading .background {
  background-color: #000;
  bottom: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
}
.gallery .picture-frame .heading p {
  color: #FFF;
  font-family: 'Nimbus', sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 4% 3%;
  position: relative;
  text-transform: uppercase;
  z-index: 1000;
}
/* ----- ORDER PAGE ----- NAROČILNICA ------ PRIJAVNICA ----- */
.order-page {
  min-width: 720px;
}
.order-page .intro {
  padding-bottom: 2%;
}
.order-page .intro h1 {
  margin-bottom: 25px;
}
.order-page .intro h1 span {
  color: #f0b800;
  font-size: 30px;
  line-height: 36px;
}
.order-page .intro ol {
  list-style: none;
  margin-left: 0;
}
.order-page .intro ol li {
  line-height: 13px;
}
.order-page .intro ol span {
  color: #8f8f8f;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-weight: bold;
  width: 20px;
}
.order-page .left-form {
  float: left;
  margin-right: 4%;
  width: 73%;
}
.order-page .left-form .passenger {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.order-page .left-form .passenger .side {
  background: #f5f5f5 url(/img/party-guy.png) no-repeat center bottom;
  float: left;
  height: 100%;
  position: absolute;
  width: 20%;
}
.order-page .left-form .passenger .side h3 {
  color: #f0b800;
  font-size: 14px;
  line-height: 16px;
  padding-top: 10%;
  text-align: center;
}
.order-page .left-form .passenger .form {
  background-color: #e9e9e9;
  float: left;
  left: 20%;
  min-height: 200px;
  padding: 2% 0 2% 1%;
  position: relative;
  width: 79%;
}
.order-page .left-form .passenger .form .column {
  float: left;
  margin-right: 2%;
  width: 32%;
}
.order-page .left-form .passenger .form .column h3 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}
.order-page .left-form .passenger .form .column.data input {
  margin-bottom: 3%;
  padding: 1% 3%;
  width: 92%;
}
.order-page .left-form .passenger .form .column.place input {
  float: left;
}
.order-page .left-form .passenger .form .column.place label {
  display: inline-block;
  float: right;
  margin-bottom: 7px;
  padding-right: 5%;
  width: 83%;
  *display: inline;
  zoom: 1;
}
.order-page .left-form .passenger .form .column.extra {
  margin-right: 0;
}
.order-page .left-form .passenger .form .column.extra input {
  float: left;
}
.order-page .left-form .passenger .form .column.extra label {
  display: inline-block;
  float: right;
  margin-bottom: 7px;
  padding-right: 5%;
  width: 83%;
  *display: inline;
  zoom: 1;
}
.order-page .left-form .passenger .form textarea {
  height: 90px;
  margin-top: 5%;
  width: 61%;
}
.order-page .left-form .passenger.sub {
  margin-top: 3px;
}
.order-page .left-form .numOfPassengersSelect {
  background-color: #ef1736;
  font-family: 'Nimbus', sans-serif;
  font-size: 14px;
  padding: 2% 2% 2% 0;
  text-align: right;
}
.order-page .left-form .numOfPassengersSelect p {
  display: inline;
  vertical-align: sub;
}
.order-page .left-form .numOfPassengersSelect select {
  border: 0;
  margin: 0 0 0 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.order-page .right-bill {
  background-color: #f5f5f5;
  float: left;
  width: 21%;
}
.order-page .right-bill .bill-container {
  padding: 7% 9%;
}
.order-page .right-bill h2 {
  margin-bottom: 30px;
}
.order-page .right-bill ul {
  list-style: none;
  margin-left: 0;
}
.order-page .right-bill ul li {
  border-bottom: 1px solid #FFF;
  float: left;
  font-size: 14px;
  padding: 3px 0;
  text-transform: uppercase;
  width: 100%;
}
.order-page .right-bill ul li div {
  float: right;
  font-size: 14px;
  padding-left: 4%;
  text-align: right;
}
.order-page .right-bill ul li.sum {
  background-color: #FFF;
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;
  padding: 4% 9% 4% 8%;
  width: 94%;
}
.order-page .right-bill .portions {
  clear: both;
  padding-top: 10%;
}
.order-page .right-bill .portions select {
  border: 0;
  float: right;
  height: auto;
  padding: 5px 10px;
  width: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.order-page .right-bill .terms {
  clear: both;
  font-size: 10px;
  line-height: 12px;
  padding-top: 2%;
}
.order-page .right-bill .terms a {
  color: #000;
  font-size: 10px;
  line-height: 12px;
  text-decoration: underline;
}
.order-page .right-bill .bill-button input {
  background-color: #f0b800;
  border: 0;
  font-family: 'Nimbus', sans-serif;
  font-size: 20px;
  padding: 5% 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
/* THE OFFER */
.the-offer {
  margin-top: 0 !important;
}
.the-offer .pickup {
  height: 40px;
  margin-top: 0;
  position: relative;
}
.the-offer .pickup .background {
  background: #000000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0f0f0f), color-stop(1, #000000));
  background: -ms-linear-gradient(bottom, #0f0f0f, #000000);
  background: -moz-linear-gradient(center bottom, #0f0f0f 0%, #000000 100%);
  background: -o-linear-gradient(#000000, #0f0f0f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0f0f0f', GradientType=0);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  -webkit-opacity: 0.9;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
  filter: alpha(opacity=90);
}
.the-offer .pickup p {
  color: #FFF;
  font-family: oswald;
  margin: 0;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  z-index: 2;
}
.the-offer .floating-info h3 {
  margin-bottom: 7px;
}
.the-offer .floating-info .top {
  padding: 20px 15px;
  text-align: right;
}
.the-offer .floating-info .top .price {
  width: 80%;
}
.the-offer .floating-info .top .price .inr {
  font-size: 12px;
  font-style: italic;
  margin: 0 10px 0;
  padding: 0;
}
.the-offer .floating-info .top .price .num {
  font-family: 'Nimbus', sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin-left: 10px;
}
.the-offer .floating-info .top .btn-frame {
  display: none;
  margin-top: 8px;
  text-align: center;
}
.the-offer .floating-info .middle {
  background: #171717;
  padding: 20px 15px;
}
.the-offer .floating-info .middle p {
  color: #F6F6F6;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 5px;
  padding-bottom: 0;
}
.the-offer .floating-info .middle .date {
  background: url('/img/icons/calendar.png') no-repeat left center;
  padding-left: 30px;
}
.the-offer .floating-info .middle .time {
  background: url('/img/icons/clock.png') no-repeat left center;
  padding-left: 30px;
}
.the-offer .floating-info .middle .place {
  background: url('/img/icons/location.png') no-repeat left center;
  padding-left: 30px;
}
.the-offer .floating-info .bottom {
  padding: 20px 15px;
}
.the-offer .floating-info .bottom ul {
  font-family: 'Nimbus', sans-serif;
  list-style: none;
  margin-left: 0;
}
.the-offer .floating-info .bottom ul a {
  color: #f0b800;
  font-size: 18px;
  line-height: 24px;
}
.the-offer .floating-info .bottom ul a:hover {
  color: #FFF;
  text-decoration: none;
}
.the-offer .floating-info .social {
  padding: 10px 15px 20px;
}
.the-offer .floating-info .social > a {
  color: #FFF;
}
.the-offer .floating-info .social > iframe {
  margin-left: 18px;
  vertical-align: middle;
  width: 100px;
}
.the-offer #leftcontent > div {
  width: 94%;
}
.the-offer .left {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 65%;
}
.the-offer .right {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  vertical-align: top;
  width: 35%;
}
.the-offer .right .basic-info {
  background-color: #EEE;
  border-top: 1px dashed #f0b800;
  padding: 6% 12%;
}
.the-offer .right .basic-info h3 {
  color: #f0b800;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  padding-bottom: 5%;
  text-transform: none;
}
.the-offer .right .basic-info ul {
  list-style: square;
  margin: 0 0 5% 6%;
}
.the-offer .right .basic-info ul li {
  line-height: 16px;
}
.the-offer .right .signup {
  background: #f0b800 url('/img/logo-red-medium.png') no-repeat 25% center;
  max-width: 410px;
  position: absolute;
  text-align: right;
  width: 100%;
  z-index: 10000;
}
.the-offer .right .signup a {
  color: #000;
  text-transform: uppercase;
}
.the-offer .right .signup a:hover,
.the-offer .right .signup a:active {
  text-decoration: none;
}
.the-offer .right .signup a h3 {
  font-family: 'Nimbus', sans-serif;
  font-size: 24px;
  line-height: 24px;
  padding: 4% 8% 4% 0;
}
.the-offer .right .moreOffers {
  padding: 25% 0 0 12%;
  position: relative;
}
.the-offer .price-box {
  font-family: 'Nimbus', sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 15px;
  margin-top: 60px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.the-offer .price-box p {
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.the-offer .price-box .portions {
  clear: both;
  color: :AAA;
  font-size: 12px;
  font-style: normal;
  text-align: right;
}
.the-offer .price-box .tag {
  position: relative;
  top: 5px;
}
.the-offer .packages-list {
  font-family: 'Nimbus', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 25px;
}
.the-offer .packages-list > div {
  padding: 10px 0;
}
.the-offer .packages-list a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
}
.the-offer .packages-list .package-list {
  border-bottom: 1px solid #FFF;
}
.the-offer .packages-list .package-list a {
  color: #000;
}
.the-offer .packages-list .package-list p {
  cursor: pointer;
}
.the-offer .packages-list .menu-list {
  line-height: 24px;
}
.the-offer .packages-list .menu-list:hover {
  cursor: pointer;
}
.the-offer .packages-list .menu-list.bb {
  border-bottom: 1px solid #FFF;
}
.the-offer .packages-list .menu-list a {
  color: #f0b800;
}
.the-offer .packages-list p {
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.the-offer .packages-list .price {
  background: url(/img/icons/arrow-small-gray.png) no-repeat center right;
  font-size: 20px;
  padding-right: 7%;
  width: 23%;
}
.the-offer .tag {
  float: left;
  width: 70%;
}
.the-offer .sidebar-badge img {
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 20px;
  padding-bottom: 60px;
  width: 100%;
}
.offer.white-border {
  -webkit-box-shadow: 0px 0px 3px 0.2 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 0.2 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px 0.2 rgba(0, 0, 0, 0.1);
  border: 9px solid #FFF;
  margin-top: 6%;
  position: relative;
}
.offer.white-border .image {
  max-height: initial;
  max-width: initial;
  width: 100%;
}
.offer.white-border .mini-logo {
  position: absolute;
  right: 3%;
  top: 3%;
}
.offer.white-border .heading {
  bottom: 10%;
  position: absolute;
  width: 100%;
}
.offer.white-border .heading .background {
  background: #000000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0f0f0f), color-stop(1, #000000));
  background: -ms-linear-gradient(bottom, #0f0f0f, #000000);
  background: -moz-linear-gradient(center bottom, #0f0f0f 0%, #000000 100%);
  background: -o-linear-gradient(#000000, #0f0f0f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0f0f0f', GradientType=0);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
}
.offer.white-border .heading a {
  color: #FFF;
}
.offer.white-border .heading h3 {
  color: #FFF;
  font-family: 'Nimbus', sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 4% 3%;
  position: relative;
  text-transform: uppercase;
  z-index: 1000;
}
/* PONUDBA */
.offer iframe {
  max-width: 100% !important;
}
.offer.index {
  margin-bottom: 16px;
}
.offer .fb {
  text-align: right;
}
.offer .facebook h2 {
  padding-bottom: 20px;
}
.offer .cont {
  color: #FFF;
  margin-bottom: 5px;
  overflow: hidden;
  padding-bottom: 5px;
  position: relative;
}
.offer .cont a.image {
  display: block;
}
.offer .cont a.image img {
  max-height: initial;
  max-width: initial;
  width: 100%;
}
.offer .cont .background {
  background: #000000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0f0f0f), color-stop(1, #000000));
  background: -ms-linear-gradient(bottom, #0f0f0f, #000000);
  background: -moz-linear-gradient(center bottom, #0f0f0f 0%, #000000 100%);
  background: -o-linear-gradient(#000000, #0f0f0f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0f0f0f', GradientType=0);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
}
.offer .cont .pickup-line {
  font-style: italic;
  left: 4%;
  position: absolute;
  top: 6%;
  max-width: 50%;
}
.offer .cont .pickup-line p {
  font-size: 18px;
  line-height: 20px;
  text-shadow: 0 0 9px #000000;
  filter: dropshadow(color=#b31419, offx=0, offy=-1);
}
.offer .cont .pickup-line p a {
  color: #FFF;
}
.offer .cont .pickup-line p a:hover {
  text-decoration: none;
}
.offer .cont .price-tag {
  font-family: 'Nimbus', sans-serif;
  padding: 1% 2% 2% 3%;
  position: absolute;
  right: 4%;
  top: 0;
}
.offer .cont .price-tag p {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: right;
  z-index: 2;
}
.offer .cont .price-tag .price {
  font-size: 24px;
  line-height: 28px;
}
.offer .cont .main-info {
  bottom: 10%;
  padding: 2% 3%;
  position: absolute;
  width: 94%;
}
.offer .cont .main-info a,
.offer .cont .main-info p {
  display: block;
  position: relative;
  z-index: 2;
}
.offer .cont .main-info a {
  color: #FFF;
}
.offer .cont .main-info a h3 {
  color: #FFF;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 4px;
}
.offer .cont .main-info .button {
  bottom: 15%;
  position: absolute;
  right: 5%;
}
.offer .cont .main-info .info {
  margin: 0;
  padding: 0;
}
.offer .cont .main-info .subtitle {
  font-family: 'Nimbus', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
.imageBox {
  overflow: hidden;
}
.offer.big {
  margin-top: -109px;
}
.offer .top {
  padding-left: 10px;
  position: relative;
  color: #FFF;
}
.offer .top h1 {
  font-size: 48px;
  float: left;
  line-height: 60px;
  margin: 0;
  padding: 10px 0 5px;
  position: relative;
  z-index: 2;
}
.offer .top h2 {
  clear: both;
  font-size: 18px;
  padding-bottom: 10px;
  position: relative;
  z-index: 2;
}
.offer .top .background {
  background: #000000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0f0f0f), color-stop(1, #000000));
  background: -ms-linear-gradient(bottom, #0f0f0f, #000000);
  background: -moz-linear-gradient(center bottom, #0f0f0f 0%, #000000 100%);
  background: -o-linear-gradient(#000000, #0f0f0f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0f0f0f', GradientType=0);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
}
.offer .top .location-date {
  color: #767676;
}
.offer .top .location-date span {
  font-weight: bold;
}
.offer .top iframe {
  margin-left: 20px;
  margin-top: 6px;
  width: 90px;
}
.offer .intro {
  margin: 30px auto;
}
.offer .picture {
  margin: 20px 0 25px;
  position: relative;
}
.offer .picture img {
  max-height: initial;
  max-width: initial;
}
.offer .pickup {
  bottom: 0;
  padding: 4% 3%;
  position: absolute;
  width: 94%;
}
.offer .pickup .background {
  background: #000000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0f0f0f), color-stop(1, #000000));
  background: -ms-linear-gradient(bottom, #0f0f0f, #000000);
  background: -moz-linear-gradient(center bottom, #0f0f0f 0%, #000000 100%);
  background: -o-linear-gradient(#000000, #0f0f0f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0f0f0f', GradientType=0);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
}
.offer .pickup .intro p {
  line-height: 20px;
}
.offer .pickup p {
  color: #FFF;
  font-size: 20px;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  z-index: 2;
}
.offer .lineup {
  border-top: 1px solid #d4d4d4;
  padding-top: 20px;
  margin-top: 80px;
}
.offer .lineup h2 {
  padding-bottom: 30px;
}
.offer .lineup .share {
  float: right;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-top: 8px;
  vertical-align: middle;
}
.offer .lineup .column {
  margin-bottom: 30px;
}
.offer .lineup .column.half {
  float: left;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 50%;
}
.offer .lineup .column ul {
  font-family: 'Nimbus', sans-serif;
  list-style: none inside;
  text-align: center;
  text-transform: uppercase;
}
.offer .lineup .column .l1 {
  font-size: 20px;
  line-height: 24px;
}
.offer .lineup .column .l2 {
  font-size: 16px;
  line-height: 19px;
}
.offer .lineup .column .l3 {
  font-size: 13px;
  line-height: 15px;
}
.offer .countdown {
  margin-top: 50px;
  margin-bottom: 50px;
}
.offer .countdown .text {
  color: #9f9696;
  font-family: 'Nimbus', sans-serif;
  font-style: italic;
  line-height: 79px;
  position: absolute;
}
.offer .countdown .timer {
  text-align: center;
}
.offer .countdown .sect {
  background: url(/img/countdown-bg.png);
  height: 79px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 1%;
  position: relative;
  width: 88px;
}
.offer .countdown .sect .line {
  background-color: #000;
  height: 3px;
  left: 14%;
  opacity: 0.6;
  position: absolute;
  top: 33px;
  width: 73%;
}
.offer .countdown .sect .number {
  color: #FFF;
  font-family: 'Nimbus', sans-serif;
  font-size: 48px;
  line-height: 70px;
  text-align: center;
  text-shadow: 1px 1px 2px #333333;
  filter: dropshadow(color=#b31419, offx=0, offy=-1);
}
.offer .countdown .sect p {
  font-family: 'Nimbus', sans-serif;
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
}
.offer .moreinfo {
  border-top: 1px solid #d4d4d4;
  padding-top: 20px;
  margin-bottom: 25px;
}
.offer .moreinfo h2 {
  margin-bottom: 20px;
}
.offer .moreinfo p {
  line-height: 20px;
}
.offer .gallery {
  border-top: 1px solid #d4d4d4;
  padding-top: 20px;
  margin-top: 70px;
}
.offer .gallery h2 {
  margin-bottom: 20px;
}
.offer .gallery a:hover {
  text-decoration: none;
}
.offer .gallery .imageBox {
  float: left;
  margin: 0% 1%;
  width: 18.4%;
}
.offer .gallery .imageBox:first-child {
  margin-left: 0;
}
.offer .gallery .imageBox:last-child {
  margin-right: 0;
}
.offer .packages {
  border-top: 1px solid #d4d4d4;
  margin-top: 40px;
  padding-top: 20px;
}
.offer .packages > div > h2 {
  margin-bottom: 10px;
}
.offer .packages .marrb {
  margin-bottom: 35px;
}
.offer .packages .intro {
  color: #acacac;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  padding: 0;
}
.offer .packages .secti {
  margin-top: 50px;
}
.offer .packages .secti h3 {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 2px;
  margin-bottom: 33px;
}
.offer .packages .package {
  border-bottom: 1px solid #BBB;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.offer .packages .package .portions {
  color: #666;
  font-size: 12px;
}
.offer .packages .package i.icon-ok {
  margin-right: 6px;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
  vertical-align: top;
}
.offer .packages .package i.icon-plus {
  margin-right: 5px;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
  vertical-align: top;
}
.offer .packages .package ul.column {
  border-left: 1px solid #999;
  clear: both;
  display: block;
  margin-left: 0;
  padding-left: 10px;
}
.offer .packages .package ul.column li {
  font-size: 14px;
  line-height: 16px;
  list-style-type: none;
  padding-bottom: 3px;
  position: relative;
}
.offer .packages .package .incAdd {
  color: #999;
}
.offer .packages .package .tabTitle {
  color: #666;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0px;
  width: 100%;
  float: left;
  display: block;
}
.offer .packages .package .packetTabs .tabTitle {
  margin-top: 20px;
}
.offer .packages .package .packetTabs h3 {
  margin-bottom: 5px;
  margin-top: 25px;
}
.offer .packages .package .packetTabs div.span6:last-child {
  padding: 0px 0px 0px 20px;
}
.offer .packages .package .packetTabs div.span6:first-child {
  padding: 0px;
}
.offer .packages .package .packetTabs div.span6:first-child p {
  padding: 0px 20px 0px 0px;
}
.offer .packages .hclear {
  margin-top: 22px;
}
.offer .packages .hbasic h2 {
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 0;
  text-transform: none;
}
.offer .packages .hbasic > div {
  float: left;
}
.offer .packages .hbasic .title {
  padding-right: 2%;
  width: 78%;
}
.offer .packages .hbasic .price {
  font-family: 'Nimbus', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  width: 20%;
}
.offer .packages .hbasic .price span {
  font-size: 16px;
  padding-left: 2px;
  font-weight: 300;
}
.offer .packages .fbasic {
  margin-top: 20px;
}
.offer .packages .fbasic h2 {
  font-size: 18px;
  line-height: 22px;
}
.offer .packages .fbasic > div,
.offer .packages .fbasic > div > div {
  float: left;
}
.offer .packages .fbasic .first {
  width: 37%;
}
.offer .packages .fbasic .second {
  width: 63%;
}
.offer .packages .fbasic .title {
  padding-right: 2%;
  width: 50%;
}
.offer .packages .fbasic .title h2 {
  padding-bottom: 0;
}
.offer .packages .fbasic .price {
  font-family: 'Nimbus', sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding-right: 6%;
  text-align: left;
  width: 38%;
}
.offer .packages .fbasic .price span {
  font-size: 16px;
  padding-left: 2px;
  font-weight: 300;
}
.offer .packages .fbasic .status {
  color: #f0b800;
  font-size: 12px;
  line-height: 15px;
  padding-right: 6%;
  width: 50%;
}
.offer .packages .fbasic .number {
  padding-right: 3%;
  width: 32%;
}
.offer .packages .fbasic .number select {
  border: 2px solid #f0b800;
  margin-top: -5px;
  width: 100%;
}
.offer .packages .fbasic .computed {
  padding-right: 3%;
  width: 24%;
}
.offer .packages .fbasic .computed nobr {
  font-family: 'Nimbus', sans-serif;
  font-size: 18px;
  vertical-align: middle;
}
.offer .packages .fbasic .button-frame {
  width: 38%;
}
.offer .packages .fbasic .button-frame .button {
  margin: -7px 0 0;
}
.offer .packages .more {
  font-size: 14px;
  margin: 10px 0 30px;
  text-align: left;
}
.offer .packages .advance {
  margin-top: 10px;
  padding: 10px 0 10px;
  position: relative;
}
.offer .packages .advance ul {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 17px;
}
.offer .packages .advance .hideIt {
  bottom: 0;
  color: #f0b800;
  position: absolute;
  right: 20px;
}
.offer .packages .advance .hideIt:hover {
  text-decoration: none;
}
.offer .packages .advance .hideIt img {
  margin-left: 10px;
  vertical-align: baseline;
}
.offer .packages .button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 10px 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.otherOffers {
  padding: 10px 0 40px;
  text-align: center;
}
/* OFFERS MENU */
.offers-menu-frame {
  display: none;
}
.offers-menu-frame.fixed {
  left: 0;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 10;
}
.offers-menu {
  background: url(/img/bgpattern.jpg) repeat;
  border-bottom: 5px solid #000;
  font-family: 'Nimbus', sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.offers-menu ul {
  list-style: none inside;

  margin: 0;
  padding: 5px 0;
}
.offers-menu li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.offers-menu li span {
  background-color: #f0b800;
  height: 3px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 10px;
  vertical-align: middle;
  width: 3px;
}
.offers-menu li a {
  color: #000;
}
/* OFFERS ALL */
.offers {
  margin-top: 0 !important;
}
.offers h2 {
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 8px;
}
.offers .first {
  clear: both;
  margin-left: 0;
}
.offers .category {
  float: left;
  /*min-height: 483px;*/

}
.offers .others {
  display: none;
}
.offers .others .text {
  margin-left: 0;
}
.offers .others .text > p {
  margin: 0;
  padding: 0;
}
.offers .others .text .list p {
  margin: 15px 0;
}
.offers .others .text .list ul {
  font-family: 'Nimbus', sans-serif;
  font-size: 16px;
  font-weight: bold;
  list-style: none inside;
  margin-left: 0;
  text-transform: uppercase;
}
.offers .small {
  background: url('/img/offer-small.png') bottom left no-repeat;
  background-size: cover;
  float: left;
  padding: 0;
  width: 100%;
}
.offers .small.top {
  background: url('/img/offer-small-special.png') bottom center no-repeat;
  background-size: cover;
  margin-top: -3px;
  padding: 8% 17px 18%;
}
.offers .small.top .price {
  background: #000;
}
.offers .small.top .price .before {
  color: #f21414;
}
.offers .small .top {
  padding: 3% 4% 0;
  width: 92%;
}
.offers .small .top h3 {
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 5px;
}
.offers .small .top .heading {
  float: left;
  width: 75%;
}
.offers .small .top .subtitle {
  color: #000;
  font-size: 14px;
}
.offers .small .top .price-box {
  width: 25%;
}
.offers .small .top a {
  color: #000;
}
.offers .small .top .place-and-date {
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
}
.offers .small .body {
  border-top: 1px solid #f7657a;
  padding: 3% 4% 4%;
  width: 92%;
}
.offers .small .body .frame {
  margin-bottom: 10px;
  position: relative;
}
.offers .small .body .frame img {
  max-height: 185px;
  width: 100%;
}
.offers .small .body .frame .heading {
  bottom: 0;
  position: absolute;
  width: 100%;
}
.offers .small .body .frame .heading a {
  color: #FFF;
}
.offers .small .body .frame .heading p {
  margin: 0;
  padding: 10px 16px;
  position: relative;
  z-index: 1000;
}
.offers .small .body .frame .heading .background {
  background: #000000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0f0f0f), color-stop(1, #000000));
  background: -ms-linear-gradient(bottom, #0f0f0f, #000000);
  background: -moz-linear-gradient(center bottom, #0f0f0f 0%, #000000 100%);
  background: -o-linear-gradient(#000000, #0f0f0f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0f0f0f', GradientType=0);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
}
.offers .small .body .fb-and-more {
  padding-bottom: 15px;
}
.offers .small .body .fb-and-more img {
  margin-right: 5px;
  max-height: 25px;
  vertical-align: top;
}
.offers .small .body .fb-and-more a {
  float: right;
}
.offers .small .body .fb-and-more iframe {
  vertical-align: bottom;
}
/* PARTNERS */
#official-partners {
  background-color: #ebebeb;
  margin-top: 50px;
  padding: 40px 55px 55px;
}
#official-partners p {
  color: #5a5fb0;
  display: inline;
  padding-right: 10%;
}
/* BOTTOM ON MOBILE */
.mobile-bottom {
  background: #222;
  bottom: 0;
  color: #FFF;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.mobile-bottom.hidden {
  display: none !important;
}
.mobile-bottom .rw {
  clear: both;
}
.mobile-bottom .left-cont a,
.mobile-bottom .mid-cont a {
  border-right: 1px solid #202020;
}
.mobile-bottom .left-cont,
.mobile-bottom .right-cont,
.mobile-bottom .mid-cont {
  width: 50%;
  text-align: center;
  float: left;
}
.mobile-bottom .left-cont.third,
.mobile-bottom .right-cont.third,
.mobile-bottom .mid-cont.third {
  width: 25%;
}
.mobile-bottom .left-cont a,
.mobile-bottom .right-cont a,
.mobile-bottom .mid-cont a {
  background: #252525;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiMyNTI1MjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjIyMjIyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, #252525 10%, #222222 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #252525), color-stop(100%, #222222));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #252525 10%, #222222 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #252525 10%, #222222 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #252525 10%, #222222 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #252525 10%, #222222 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#252525', endColorstr='#222222', GradientType=0);
  /* IE6-8 */

  color: #FFF;
  display: block;
  padding: 20px;
}
.mobile-bottom .left-cont a:hover,
.mobile-bottom .right-cont a:hover,
.mobile-bottom .mid-cont a:hover {
  background: #212121;
  text-decoration: none;
}
.mobile-bottom .mid-cont {
  width: 50%;
}
/* FOOT */
.foot {
  /*background-color:#000;*/

  background: url(/img/bg-noise.png);
  color: #FFF;
  margin-top: 20px;
}
.foot h3 {
  font-size: 14px;
  padding: 25px 0;
}
.foot .row-fluid > div > div {
  min-height: 180px;
}
.foot .about {
  border-left: 1px solid #303030;
  padding-left: 20px;
}
.foot .col2 {
  border-left: 1px solid #303030;
  padding-left: 20px;
}
.foot .col2 p {
  margin: 0;
  padding: 0;
}
.foot .col2 a {
  color: #FFF;
}
.foot .partners {
  border-left: 1px solid #303030;
  padding-left: 20px;
}
.foot .partners .partyinlj a {
  color: #FFF;
  text-decoration: none;
}
.foot .menu {
  padding-top: 60px;
}
.foot .menu a {
  color: #f0b800;
  font-family: 'Nimbus', sans-serif;
  font-size: 14px;
  padding: 3px 10px;
}
.foot .menu a:first-child {
  padding-left: 20px;
}
.foot .rights {
  color: #6c6c6c;
  padding: 20px;
}
.foot .rights a {
  color: #6c6c6c;
}
.foot .rights span {
  margin-left: 20px;
}
/* MODULES */.module-head {
  padding-bottom: 10px;
}
.module-head h2 {
  display: inline;
}
.module-head img {
  height: 18px;
  margin-left: 5px;
  vertical-align: baseline;
}
.module-head .left {
  float: left;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 70%;
}
.module-head .right {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-top: 5px;
  text-align: right;
  width: 30%;
}
.module-head .right a {
  color: #000;
  font-family: 'Nimbus', sans-serif;
  font-size: 16px;
  padding: 5px 0;
  vertical-align: bottom;
}
.module-head .right-button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-top: 5px;
  text-align: right;
  width: 30%;
}
.module-head .center-button {
  padding-top: 5px;
  text-align: center;
  width: 30%;
  display: block;
  margin: 0 auto;
}
.module-head.btmmed {
  padding-bottom: 20px;
}
.module-head.topfull {
  padding-top: 75px;
}
.mf {
  border-top: 1px solid #d4d4d4;
  padding-top: 14px;
  margin-top: 50px;
}
/* ----- OPINIONS ------ */
#opinions {
  background-color: #ebebeb;
  margin-bottom: 60px;
}
#opinions .opinion {
  background: url(/img/icons/quotemarks.png) no-repeat 30px 40px;
  padding: 40px 0 40px 75px;
}
#opinions .opinion:last-child {
  padding-right: 30px;
}
#opinions p {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-bottom: 0;
  padding-bottom: 0;
}
#opinions .footer {
  margin-top: 10px;
}
#opinions .footer p {
  font-style: italic;
}
/* ----- SINGLE ARTICLE ----- */
.single-article #news-module {
  margin-top: 50px;
}
/* NEWS MODULE */
#news-module.related {
  border-top: 1px solid #d4d4d4;
  margin-top: 8%;
  padding-top: 1%;
}
#news-module.related h2 {
  margin-bottom: 1%;
}
#news-module.related .article {
  width: 78%;
}
#news-module.archive {
  border-top: 1px solid #d4d4d4;
  font-size: 12px;
  margin-top: 8%;
  padding-top: 1%;
}
#news-module.archive a {
  color: #000;
}
#news-module.archive a:hover {
  text-decoration: none;
}
#news-module.archive h2 {
  display: inline;
}
#news-module.archive img {
  vertical-align: bottom;
}
#news-module .article {
  clear: both;
  padding: 0 0 1%;
  position: relative;
}
#news-module .article.span6 {
  clear: none;
}
#news-module .article img {
  max-height: initial;
  max-width: initial;
  width: 100%;
}
#news-module .article .top {
  max-height: 215px;
  overflow: hidden;
  position: relative;
}
#news-module .article .heading {
  position: absolute;
  bottom: 5%;
  width: 100%;
}
#news-module .article .heading > a:hover {
  text-decoration: none;
}
#news-module .article .heading > a:hover h3 {
  color: #CCC;
}
#news-module .article .heading .more {
  color: #FFF;
  display: inline-block;
  font-family: 'Nimbus', sans-serif;
  font-size: 14px;
  font-style: italic;
  position: relative;
  width: 22%;
  z-index: 10;
  zoom: 1;
  *display: inline;
}
#news-module .article .heading .more span {
  font-size: 22px;
  font-style: normal;
  margin-left: 10px;
}
#news-module .article .heading .more:hover {
  color: #CCC;
}
#news-module .article .heading h3 {
  color: #FFF;
  display: inline-block;
  font-size: 18px;
  line-height: normal;
  padding: 2% 3%;
  position: relative;
  text-rendering: auto;
  width: 70%;
  z-index: 10;
  zoom: 1;
  *display: inline;
}
#news-module .article .heading div {
  background-color: #000;
  height: 100%;
  min-height: 46px;
  position: absolute;
  width: 100%;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
}
#news-module .article p {
  margin-top: 10px;
}
#news-module .article p:first-child {
  margin-top: 10px;
}
#news-module .article p:last-child {
  margin-bottom: 25px;
}
#news-module .article .more {
  text-align: right;
}
#news-module .article .more a {
  color: #f0b800;
  font-family: 'Nimbus', sans-serif;
}
/* GALLERY MODULE */
#gallery-module .span6 {
  margin-bottom: 14px;
  overflow: hidden;
}
#gallery-module .span6 img {
  margin-left: 0 !important;
}
#gallery-module .frame {
  margin-top: 16px;
  word-spacing: 0;
}
#gallery-module .frame div {
  height: 125px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-left: 4%;
  overflow: hidden;
  vertical-align: top;
  width: 22%;
}
#gallery-module .frame div img {
  min-height: 125px;
  min-width: 100%;
  max-height: initial;
  max-width: initial;
}
#gallery-module .frame div:first-child {
  margin-left: 0;
}
/* E-NEWS MODULE */
#e-news-module .frame {
  background-color: #e5e5e5;
  margin-top: 10px;
  padding: 20px;
}
#e-news-module .frame form {
  margin: 0;
}
#e-news-module .frame input[type='submit'] {
  background: transparent url('/img/icons/arrow-small-black.png') right center no-repeat;
  border: 0;
  color: #f0b800;
  font-family: 'Nimbus', sans-serif;
  font-size: 14px;
  margin-left: 9%;
  padding: 1px 15px 4px 10px;
  vertical-align: baseline;
}
/* LOGIN MODAL */
#loginModal .modal-header,
#forgotPassModal .modal-header {
  background-color: #090909;
  border-bottom: 0;
  color: #FFF;
  text-align: center;
  padding: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#loginModal .modal-body,
#forgotPassModal .modal-body {
  padding: 7%;
  background: #161616;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1b1b1b), color-stop(1, #121212));
  background: -ms-linear-gradient(bottom, #1b1b1b, #121212);
  background: -moz-linear-gradient(center bottom, #1b1b1b 0%, #121212 100%);
  background: -o-linear-gradient(#121212, #1b1b1b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#121212', endColorstr='#1b1b1b', GradientType=0);
}
#loginModal .modal-body > a,
#forgotPassModal .modal-body > a {
  color: #838383;
  font-size: 14px;
}
#loginModal input,
#forgotPassModal input {
  margin-bottom: 15px;
  padding: 2% 4%;
  width: 92%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#loginModal #email,
#forgotPassModal #email,
#loginModal #emailfp,
#forgotPassModal #emailfp,
#loginModal #password,
#forgotPassModal #password {
  -webkit-box-shadow: inset 0 2px 13px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 2px 13px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 13px 0 rgba(0, 0, 0, 0.3);
}
#loginModal #submit,
#forgotPassModal #submit,
#loginModal #submitfp,
#forgotPassModal #submitfp {
  border: 1px solid #e8252a;
  color: #FFF;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 7px 0;
  text-align: center;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 0 -1px 1px #b31419;
  filter: dropshadow(color=#b31419, offx=0, offy=-1);
  -webkit-box-shadow: 0 6px 10px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 6px 10px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 10px -1px rgba(0, 0, 0, 0.5);
  background: #e11a1f;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e11a1f), color-stop(1, #ca171c));
  background: -ms-linear-gradient(bottom, #e11a1f, #ca171c);
  background: -moz-linear-gradient(center bottom, #e11a1f 0%, #ca171c 100%);
  background: -o-linear-gradient(#ca171c, #e11a1f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca171c', endColorstr='#e11a1f', GradientType=0);
}
/* FACEBOOK LIKE BOX */
#fb-root {
  display: none;
}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 100% !important;
}
/* JAVASCRIPT FORM VALIDATION SCRIPT */
.formError {
  z-index: 990;
}
.formError .formErrorContent {
  z-index: 991;
}
.formError .formErrorArrow {
  z-index: 996;
}
.ui-dialog .formError {
  z-index: 5000;
}
.ui-dialog .formError .formErrorContent {
  z-index: 5001;
}
.ui-dialog .formError .formErrorArrow {
  z-index: 5006;
}
.inputContainer {
  position: relative;
  float: left;
}
.formError {
  position: absolute;
  top: 300px;
  left: 300px;
  display: block;
  cursor: pointer;
  text-align: left;
}
.formError.inline {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.ajaxSubmit {
  padding: 20px;
  background: #55ea55;
  border: 1px solid #999;
  display: none;
}
.formError .formErrorContent {
  width: 100%;
  background: #ee0101;
  position: relative;
  color: #fff;
  min-width: 120px;
  font-size: 11px;
  border: 2px solid #ddd;
  box-shadow: 0 0 6px #000;
  -moz-box-shadow: 0 0 6px #000;
  -webkit-box-shadow: 0 0 6px #000;
  -o-box-shadow: 0 0 6px #000;
  padding: 4px 10px 4px 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
}
.formError.inline .formErrorContent {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}
.greenPopup .formErrorContent {
  background: #33be40;
}
.blackPopup .formErrorContent {
  background: #393939;
  color: #FFF;
}
.formError .formErrorArrow {
  width: 15px;
  margin: -2px 0 0 13px;
  position: relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
  margin: -2px 13px 0 0;
}
.formError .formErrorArrowBottom {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  margin: 0px 0 0 12px;
  top: 2px;
}
.formError .formErrorArrow div {
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  box-shadow: 0 2px 3px #444;
  -moz-box-shadow: 0 2px 3px #444;
  -webkit-box-shadow: 0 2px 3px #444;
  -o-box-shadow: 0 2px 3px #444;
  font-size: 0px;
  height: 1px;
  background: #ee0101;
  margin: 0 auto;
  line-height: 0;
  font-size: 0;
  display: block;
}
.formError .formErrorArrowBottom div {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}
.greenPopup .formErrorArrow div {
  background: #33be40;
}
.blackPopup .formErrorArrow div {
  background: #393939;
  color: #FFF;
}
.formError .formErrorArrow .line10 {
  width: 15px;
  border: none;
}
.formError .formErrorArrow .line9 {
  width: 13px;
  border: none;
}
.formError .formErrorArrow .line8 {
  width: 11px;
}
.formError .formErrorArrow .line7 {
  width: 9px;
}
.formError .formErrorArrow .line6 {
  width: 7px;
}
.formError .formErrorArrow .line5 {
  width: 5px;
}
.formError .formErrorArrow .line4 {
  width: 3px;
}
.formError .formErrorArrow .line3 {
  width: 1px;
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-bottom: 0 solid #ddd;
}
.formError .formErrorArrow .line2 {
  width: 3px;
  border: none;
  background: #ddd;
}
.formError .formErrorArrow .line1 {
  width: 1px;
  border: none;
  background: #ddd;
}
/* cookie notice v2 - 2014-03 - F5 */
.container-fluid.cookies-v2 {
  background-color: rgba(7, 7, 13, 0.9);
  padding: 2em;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: -100%;
  opacity: 0;
  z-index: 9999;
}
.container-fluid.cookies-v2 .title,
.container-fluid.cookies-v2 .subtitle {
  font-size: 1.666em;
  line-height: 1.2em;
  text-transform: uppercase;
  font-family: "Oswald";
}
.container-fluid.cookies-v2 .title {
  font-weight: bold;
}
.container-fluid.cookies-v2 .subtitle {
  font-weight: 200;
}
.container-fluid.cookies-v2 span {
  float: left;
  clear: both;
}
.container-fluid.cookies-v2 span.text {
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.2em;
}
.container-fluid.cookies-v2 button {
  background-color: #313d6f;
  color: #fff;
  border: 0;
  float: left;
  font-size: 1.666em;
  line-height: 1em;
  font-family: "Oswald";
  font-weight: bold;
  padding: 0.8em 2.4em;
}
#indexSocial > div {
  margin-top: 20px;
}
#indexSocial .visible-phone.span4 {
  width: 33% !important;
  float: left;
}
#indexSocial a img {
  -webkit-transition: all .2s;
  /* For Safari 3.1 to 6.0 */

  transition: all .2s;
  width: 90%;
  display: block;
  margin: 0 auto;
  opacity: 0.8;
}
#indexSocial a img:hover {
  width: 100%;
  opacity: 1;
}
div.boxd {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
}
.cloud {
  position: absolute;
  width: 100%;
  z-index: 99;
}
.cloud.listed {
  left: 100%;
  margin-left: 15px;
  min-width: 300px;
  top: -5px;
}
.cloud .square {
  background-color: #333;
  color: #EEE;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 12px;
  line-height: 18px;
  padding: 5px 10px;
}
.cloud .triangle {
  left: -10px;
  position: absolute;
  top: 0;
  z-index: 99;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 10px solid #333;
}
#maincontainer {
  margin: 0 auto;
}
#maincontainer > .row-fluid > .span4 {
  position: relative;
}
#floatingCart {
  display: none;
}
#floatingCart .hiddenTemplate {
  display: none;
}
#floatingCart.floating {
  display: none;
  position: fixed;
  top: 80px;
  margin-left: 0;
}
#floatingCart.floating .packages-list {
  display: block;
  width: 100%;
}
#floatingCart h2 {
  margin-bottom: 10px;
}
#floatingCart .packages-list .price,
#floatingCart .packages-list .tag {
  width: auto;
  font-size: 15px;
}
/* RESPONSIVE */
@media (min-width: 1200px) {
  
}
@media (max-width: 1199px) {
  .offer .countdown .text {
    display: none;
    position: relative;
  }
  .head-main ul li a {
    font-size: 14px;
  }
  .head-main .intro {
    top: 70px;
  }
}
@media (max-width: 979px) {
  .main-menu ul {
    font-size: 12px;
  }
  .offer .packages .fbasic .first,
  .offer .packages .fbasic .second {
    margin-bottom: 4px;
    width: 100%;
  }
  .foot {
    padding-bottom: 160px;
  }
}
#minimenu {
  display: none !important;
}
@media (min-width: 768px) {
  #minimenu {
    display: none;
  }
}
@media (max-width: 767px) {
  #minimenu {
    display: block;
    top: 10px;
    left: 10px;
    position: fixed;
    z-index: 9999;
  }
  #minimenu img {
    display: inline-block !important;
    margin-right: 5px;
    vertical-align: bottom;
    *display: inline !important;
    zoom: 1;
  }
  body {
    padding: 0;
  }
  body > .container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .the-offer #leftcontent > div {
    width: 100% !important;
  }
  .the-offer .price-box,
  .the-offer .packages-list {
    display: none;
  }
  .row-fluid {
    margin: 0 auto;
    width: 96%;
  }
  .main-menu {
    display: none;
    bottom: 0 !important;
    height: auto !important;
    position: relative !important;
  }
  .main-menu .container {
    overflow: hidden;
  }
  .main-menu .login {
    display: none;
  }
  .main-menu li,
  .main-menu li a {
    display: block !important;
  }
  .main-menu .separator {
    display: none !important;
  }
  .main-menu .bgBottomTop {
    display: none;
  }
  .offers-menu-frame {
    display: none !important;
  }
  .offers .category .arrow {
    display: none !important;
  }
  .foot .menu,
  .foot .rights {
    padding-left: 20px !important;
  }
}
@media (max-width: 480px) {
  .mobileLogin {
    background-color: #000;
    padding: 5px !important;
    position: absolute;
    right: 5px;
    top: 0;
  }
}
@media (max-width: 767px) {
  .container.order .additions ul li .boxd {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .container.order .additions ul li span {
    float: none !important;
  }
  .container-fluid.cookies-v2 {
    padding: 4% 0 !important;
  }
  .container-fluid.cookies-v2 .container > .row > .span1 {
    float: left;
    margin-right: 2%;
    width: 18%;
  }
  .container-fluid.cookies-v2 .container > .row > .span6 {
    float: left;
    padding-right: 30px;
    width: 80%;
  }
  .container-fluid.cookies-v2 .container > .row > .span5 {
    clear: both;
    margin-left: 20% !important;
    padding-top: 20px;
  }
  .container-fluid.cookies-v2 .container > .row > .span5 button {
    font-size: 22px;
    padding: 12px 20px;
  }
  .container-fluid.cookies-v2 .container > .row > .span5 img {
    max-width: 24px;
  }
}
