﻿@font-face {
    font-family: Nexa;
    src: url(/css/fonts/Nexa_Free_Light-webfont.ttf);
    font-weight:normal;
}
@font-face {
    font-family: Nexa;
    src: url(/css/fonts/Nexa_Free_Bold-webfont.ttf);
    font-weight:bold;
}

/* VARIABLES */
@ftMain: 'Nexa', Arial, Helvetica, sans-serif;
@ftSecondary: 'Nexa', sans-serif;

@crMain: rgba(239, 106, 35, 1);
@crHeadline: #ef3334;
@crOfferSeperator: #c9130d;

@crOfferBigSeperator: #f2425b;

/* MIXINS */
.bgr(@opacity: 0.7) {
	.gradient(#000, #0f0f0f, #000);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	
	.opacity(@opacity);
}
.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; 
  -webkit-background-clip: padding-box; 
  background-clip: padding-box; 
}
.opacity(@opacity: 0.6) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}
.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @spread: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur @spread rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur @spread rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur @spread rgba(0, 0, 0, @alpha);
}
.inside-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @spread: 2px,	 @alpha: 0.1) {
  -webkit-box-shadow: inset @x-axis @y-axis @blur @spread rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @x-axis @y-axis @blur @spread rgba(0, 0, 0, @alpha);
  box-shadow: inset @x-axis @y-axis @blur @spread rgba(0, 0, 0, @alpha);
}
.text-shadow(@hLength: 0, @vLength: 0, @blur: 1px, @color: #333) {
	text-shadow: @hLength @vLength @blur @color;
	filter: dropshadow(color=#b31419, offx=0, offy=-1);
}
.inlineBlock() {
  display:inline-block;
  *display:inline;
  zoom:1;
}
.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
  background: -o-linear-gradient(@stop,
                                 @start);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}
.bw-gradient(@color: #F5F5F5, @start: 0, @stop: 255) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, rgb(@start,@start,@start)),
                               color-stop(1, rgb(@stop,@stop,@stop)));
  background: -ms-linear-gradient(bottom,
                                  rgb(@start,@start,@start) 0%,
                                  rgb(@stop,@stop,@stop) 100%);
  background: -moz-linear-gradient(center bottom,
                                   rgb(@start,@start,@start) 0%,
                                   rgb(@stop,@stop,@stop) 100%);
  background: -o-linear-gradient(rgb(@stop,@stop,@stop),
                                 rgb(@start,@start,@start));
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",rgb(@stop,@stop,@stop),rgb(@start,@start,@start)));
}

#btnContactSubmit {
	color: #EF1736;
}

/* ELEMENTS */
body {
	background:url(/img/bgpattern.jpg) repeat;
  color:#000;
  font-family:@ftMain;
  font-size:16px;
  line-height:18px;
	padding-top:40px;
  min-width:350px;
}

h1, h2, h3, h4, h5, h6 {
  font-family:@ftSecondary;
  font-weight:400;
  text-transform:uppercase;
	
	&.gray,
	.gray {
		color:#adaaaa;
	}
}

h1 {
	//border-bottom:1px solid #d7d7d7;
  font-size: 30px;
  line-height:34px;
	margin-bottom:8px;
	padding-bottom:13px;
	
	.bl {
		border-left:4px solid #000;
		margin-bottom:21px;
		padding-bottom:0;
		padding-left:15px;
	}
}

h2 {
  font-size: 22px;
  line-height: 24px;
}

h3 {
	font-size:18px;
	line-height:20px;
}

a:hover {
	cursor:pointer;
}

p {
  line-height:19px;
  margin-bottom: 5px;
}

table, tr, td {
	vertical-align: top;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  border: 0;
  .rounded(0);
}

/* CLASSES */
.clear {
  clear: both !important;
}
a.title {
  color: #000;
}
a.title:hover {
  text-decoation: none;
}
.conteiner {
  margin:0 auto;
  width:960px;
}
.container.marTop20 {
  margin-top:20px;
}
.container.marTop40 {
  margin-top: 40px;
}

.borderTop() {
		border-top: 1px solid #d4d4d4;
		padding-top:20px;
}

.content-max-width(@width: 600px, @margin: 0) {
	max-width:@width;
	margin:@margin;
}

/* BOOTSTRAP RESET */
.navbar {
	margin-bottom:0;
}
.offer [class*="span"] {
	margin:0;
}
.container .row > .span6 {
	//margin-left:40px; /* to ni kul */
}
.container .row > .span6:first-child,
.container .row > .span7:first-child {
	margin-left:0px; /* to tut ni kul */
	/* če že, potem se generira nov bootstrap */
	/* plus tega, da gre struktura htmlja OBVEZNO .container < .row < span < ostali html */
	/* .container in .container-fluid sta lahko samo najbolj zunanja htmlja */
	/* .row lahko obstaja samo v .container, .container-fluid in .span */
	/* .span lahko obstaja samo v .row */
}

/* BUTTONS */
.button {
	border:0;
	color:#FFF !important;
	padding:7px 11px;
	text-align:center;
	
	/*.drop-shadow(0px, 2px, 1px, 0px, 0.4);*/
   background:@crMain;
   border: none;
	.inlineBlock();
	
	&.whiteText {
		color:#FFF !important;
	}
	
	&.big {
		font-size:18px;
		font-weight:bold;
		padding:15px 30px;
	
		/*.drop-shadow(0px 3px 1px 0px, 0.4);*/
	}
	
	&.bold {
		font-weight:bold;
	}
	
	&.oxygen {
		font-family:@ftMain !important;
	}
	
	&.oswald {
		font-family:@ftSecondary !important;
	}
	
	&.medium {
		font-size:16px;
		font-weight:bold;
		padding:10px 20px;
	
		.drop-shadow(0px 3px 1px 0px, 0.4);
	}
	
	&.long {
		padding:10px 60px;
	}
	
	&.gray {
		.gradient(#969696, #9e9e9e, #8f8f8f);
	}
	&:hover {
		text-decoration:none;
	}
	
	&.green {
		.gradient(#4fb00e,#4fb00e,#479f0d);
	}

	&:disabled {
		.gradient(#221c1c, #221c1c, #2c2727);
	}
	&:hover {
    background: rgba(239, 106, 35, 0.9);
	}
}

.sendy{
	background-color:transparent;
	background:url("/img/icons/arrow-small-black.png") right  center no-repeat;
	border:0;
	color:@crMain;
	font-family:@ftSecondary;
	font-size:14px;
	padding:0 15px 0 0;
	vertical-align:top;
}
.sendy.white{
	color:#FFF;
}
.sendy.processing {
	background:url("/img/ajax-loader.gif") right center no-repeat;
	padding:0 20px 0 0;
}
.sendy.processing.gray {
	background:url("/img/ajax-loader-graybg.gif") right center no-repeat;
}

.button-green {
	border:1px solid #53b90f;
	color:#FFF;
	display:block;
	font-family:@ftMain;
	font-size:16px;
	padding:7px 0;
	text-align:center;
	width:100%;
	
	.rounded(2px);
	.text-shadow(0, -1px, 1px, #3f8d0c);
	.drop-shadow(0, 6px, 10px, -1px, 0.5);
	.gradient(#4fb00e,#4fb00e,#479f0d);
}
.button-pink {
	border:1px solid #e8252a;
	color:#FFF;
	display:block;
	font-family:@ftMain;
	font-size:16px;
	padding:7px 0;
	text-align:center;
	width:100%;
	
	.rounded(2px);
	.text-shadow(0, -1px, 1px, #b31419);
	.drop-shadow(0, 6px, 10px, -1px, 0.5);
	.gradient(#e11a1f,#e11a1f,#ca171c);
}
.button-pink:hover {
	color:#FFF;
}

/* BOXES */
.grayShadow {
	background:url('/img/shadow-bottom.png') no-repeat bottom center;
	padding-bottom:12px;
}

.grayBg {
	background-color:#e5e5e5;
	border:1px solid #FFF;
	padding:15px 17px 15px;
	
	-webkit-box-shadow:  0px 1px 10px 0px rgba(55, 55, 55, 0.2);
	box-shadow:  0px 1px 10px 0px rgba(55, 55, 55, 0.2);
	
	&.whiteA {
		background-color:#FFF;
	}
	
	&.blackA {
		background-color:#222;
		color:#FFF;
	}
	
	&.borderless {
		border:0;
	}
	
	&.nopadding {
		padding:0;
	}
}
.redBg {
	.gradient(#e11a1f,#e11a1f,#ca171c);
	border:1px solid #FFF;
	padding:15px 17px 15px;
	
	-webkit-box-shadow:  0px 1px 10px 0px rgba(55, 55, 55, 0.2);
	box-shadow:  0px 1px 10px 0px rgba(55, 55, 55, 0.2);
	
	&.whiteA {
		background-color:#FFF;
	}
	
	&.blackA {
		background-color:#222;
		color:#FFF;
	}
}

/* HEAD */
.head-main {
	margin-bottom:40px;
	position: relative;
	
	&.customheader {
		margin-bottom:0;
	}
	.container {
		position:relative;
	}
	.hBackground {
		width:100%;
	}
	.logo-abs {
		position:absolute;
		right:10%;
		top:16px;
	}
	.menu-logo {
		float:left;
		position:relative;
		z-index:3;
		
		a{
			.inlineBlock();
			color: #FFF;
			font-weight: bold;
			text-transform: uppercase;
			padding: 8px 20px;
			
			&:hover {
				text-decoration:none;
			}
		}
	}
	.featured {
		bottom:50px;
		position:absolute;
		right:50px;
		width:178px;
		
		img {
			float:left;
			.rounded(50px);
			margin-right:15px;
		}
		a {
			color:#FFF;
			
			&:hover {
				color:#DDD;
				text-decoration:none;
			}
		}
		p {
			margin: 0;
			padding:5px 0 0;
			
			&.ttle {
				padding-top:2px;
			}
		}
	}
	.intro {
		color: #FFF;
		left: 50px;
		position: absolute;
		top: 95px;
		
		h1 {
			font-size:24px;
			font-weight:bold;
			margin-bottom:0;
			padding-bottom:0;
		}
		.subtitle {
			font-size:24px;
			font-weight:300;
			margin-bottom:30px;
			text-transform:uppercase;
		}
		.cta {
			width:450px;
			
			p {
				.inlineBlock();
				width:250px;
			}
			a {
				font-size: 16px;
				margin-left: 21px;
				padding: 11px 17px;
				vertical-align: text-bottom;
			}
		}
	}
	&.minimal {
		.featured,			
		.intro {
			display:none;
		}
		.container {
			height:50px;
			overflow:hidden;
		}
	}
}
.main-menu {
	height:50px;
	position:fixed;
	top:0;
	z-index:99;
	width:100%;

	.container {
		position:relative;
	}
		
	.login {
		color: @crMain;
		font-size: 14px;
		line-height: 50px;
		margin-right:5px;
		text-transform:none;
		
		&:hover {
			text-decoration:none;
		}
	}
	
	ul {
		font-family:@ftSecondary;
		list-style:none inside;
		margin:0;
		position:relative;
		text-align:right;
		z-index:2;
		
		li {
			height:50px;
			.inlineBlock();
			vertical-align:bottom;

			&:hover {
				background-color: rgba(200,200,200,0.2);
			}
			
			&.active {
				
			}
			
			&.separator {
				border-left:1px solid #000;
				border-right:1px solid #272727;
			}
			
			a {
				color:#FFF;
				height:100%;
				line-height:50px;
				padding:0 14px;
				text-transform:uppercase;
				vertical-align:top;
				
				.inlineBlock();
				
				&:hover {
					text-decoration:none;
				}
			}
		}
	}
	.background {
		.bgr(0.7);
	}
}
/*.head-main {
  background-color:#000;
  & > .container {
    img {
      width:100%;
    }
  }
  .navbar-inner {
    border:0 !important;
    font-family:@ftSecondary;
    font-size:14px;
    text-transform:uppercase;
		
		.gradient(#000, #000, #0f0f0f);
    
    .nav {
      li {
        border-right: 1px solid #343434;
        
        &:first-child{
          border-left: 1px solid #343434;
        }
        &.active {
					.gradient(#1f1f1f, #1f1f1f, #2c2c2c);

					a {
						background-color:transparent;
						background:url(/img/triangle-up-white.png) no-repeat bottom center;
					}
        }
        
        a {
          color:#FFF;
					
        	filter: dropshadow(color=#ffffff, offx=0, offy=0);
					text-shadow: 0px 0px 0px #ffffff;
        }
      }
    }
    
    .mobileLogin {
      display:inline-block;
      color:#FFF;
      float:right;
      padding-top:1%;
      zoom:1;
      *display:inline;
      
      .login {
        color:@crMain;
        font-size:14px;
        text-transform:lowercase;
        
        &:hover {
          text-decoration:none;
        }
        
        span {
          margin:0 5px;
        }
      }
    }
  }
} */


/* DEFAULT 2 COLUMN LAYOUT */
.container.default {
  .left {
    float: left;
    vertical-align: top;
    width:65%;
  }
  .right {
    float: left;
    margin-left: 5%;
    vertical-align: top;
    width:30%;
  }
}

/* 404 */
.r404 {
	text-align:center;

	h1 {
		font-size:36px;
		margin:20px 0 20px;
	}
	p {
		color:#868686;
		margin-bottom:0;
		a {
			color:@crMain;
		}
	}
	.exist{
		color:#000;
		margin-bottom:17px;
	}
	.pdb {
		margin-bottom:20px;
	}
	.span12 > a {
		background-color:@crMain;
		color:#000;
		.inlineBlock();
		font-family:@ftSecondary;
		font-size:14px;
		margin-top:30px;
		padding:15px 100px;
		
		zoom:1;
		*display:inline;
		
		&:hover {
			text-decoration:none;
		}
		
		img {
			margin-right:8px;
			vertical-align:text-bottom;
		}
	}
}
/* DOMOV */
.home-offers {
	clear:both;
	.info {
		font-size:12px;
		line-height:14px;
	}
}
.title-offers {
	.left {
		float:left;
		padding-bottom: 15px;
	}
	h2 {
		font-size:26px;
		line-height:30px;
	}
}

/* PREDRAČUN */
.estimateform {
	.subscriber {
		h2 {
			margin: 20px 0 10px 0;	
		}
		.grayBg {
			div {
				.inlineBlock();
				padding-right:10%;
				vertical-align:top;
				
				h3 {
					margin-bottom:18px;
				}
				
				p {
					line-height:16px;
				}
			}
		}
	}
	.calculation {
		margin-top:25px;
		
		h2 {
			margin-bottom:15px;
		}
		
		table {
			.grayBg();
			width:100%;
			
			thead tr {
				color:#FFF;
				.gradient(#c1c1c1, #c7c7c7, #bababa);
				text-align:left;
			}
			tbody tr {
				border-bottom:1px solid #c7c7c7;
			}
			th {
				font-family:@ftSecondary;
				font-size:14px;
				font-weight:normal;
				padding:15px;
			}
			td {
				padding:20px 15px;
			}
			tfoot {
				color:#AAA;
				font-family:@ftSecondary;
				text-align:right;
				text-transform:uppercase;
				
				td {
					font-size:18px;
					font-style:italic;
					vertical-align:baseline;
				}
				
				span {
					color:#000;
					font-style:normal;
					margin-left:7px;
				}
			}
		}
		.portions {	 	
			font-style: normal;	 	
			font-size: 12px;	 	
			text-transform: none;	 	
			margin-top: 4px;
		}
	}
	.reservation {
		margin-top:15px;
		
		h3 {
			margin-bottom:27px;
		}
		.text {
			float:left;
			width:75%;
		}
		.price {
			float:left;
			font-family:@ftSecondary;
			font-size:26px;
			text-align:center;
			width:25%;
		}
	}
	.separatorLines {
		height:20px;
		position:relative;
		width:100%;
		
		.col {
			background-color:#dadada;
			height:100%;
			position:absolute;
			width:9px;
		}
		.first {
			left:3%;
		}
		.second {
			right:3%;
		}
	}
	.rest {
		h3 {
			margin-bottom:20px;
			
			span {
				float: right;
				margin-right:4%;
			}
		}
		.text {
			color:#9c9b9b;
			float:left;
			width:65%;
		}
		.portions {
			font-style:italic;
			padding-right:4%;
			text-align:right;
			
			select {
				margin-left:3px;
				vertical-align:baseline;
				width:60px;
			}
		}
	}
	.ports {
		font-family:@ftSecondary;
		font-size:16px;
		line-height:18px;
		
		.portNum {
			float:left;
			width:20%;
		}
		.paymentDate {
			color:#939393;
			float:left;
			width:30%;
			
			span {
				color:#000;
				margin-left:5px;
			}
		}
		.status {
			float: left;
			display: block;
			text-align:left;
			width:30%;
		}
		.sum {
			float:left;
			padding-right:4%;
			text-align:right;
			width:16%;
		}
		
		.portion {
			padding:10px 0;
		}
	}
	.last {
		margin-top: 20px;
		
		p {
			color:#9b9b9b;
			.inlineBlock();
			padding-left:15px;
			width:300px;
		}
		.button {
			float: right;
		}
	}
}

/* IZBIRA PLAČILNEGA SREDSTVA */
.container.payment {
	.intro {
		border-bottom:1px solid #c7c7c7;
		color:#9c9b9b;
		margin: 0;
		margin-bottom: 20px;
		padding: 20px 0 20px 0;
	}
	h2 {		
		margin-top:30px;
		padding-bottom:20px;
	}
	h3 {
		border-bottom:1px solid #FFF;
		margin-bottom:25px;
		padding-bottom:20px;
	}
	.moneta,
	.paypal,
	.upn {
		img {
			float:left;
			width:20%;
		}
		.description {
			float:right;
			.inlineBlock();
			width:62%;
			
			p:first-child {
				margin-top:0;
			}
		}
		#upnPayment {
			float: right;
		}
	}
	.moneta,
	.paypal {
		img {
		}
			
		.button {
			float:right;
			.inlineBlock();
			margin-top:30px;
		}
	}
	.upn {
		.button {
			.inlineBlock();
			margin-top:30px;
		}
		.clear {
		}
		input {
			float: left;
			margin:10px 10px 0 0;
		}
	}
}


.skip-payment-step.order,
.skip-payment-step.estimateform,
.skip-payment-step.payment {
    ul#steps .hide-in-skip-payment-variant {
        display: none;
    }
}

.skip-payment-step.order,
.skip-payment-step.estimateform,
.skip-payment-step.payment {
    ul#steps .show-in-skip-payment-variant {
        display: list-item !important;
    }
}

.container.order,
.container.estimateform,
.container.payment {
	h1.np {
		margin: 40px 0px 20px 0px;
		padding: 0 20px;
		border-left: 5px #ccc solid;
		font-size: 36px;
		line-height: 36px;
	}
	ul#steps {
		display: block;
		line-height: 60px;
		min-height: 60px;
		height: auto;
		background: #2f2d2e;
		margin: 0;
		padding: 0;
		clear: both;
		li {
			padding: 0 25px;
			float: left;
			list-style: none;
			line-height: 60px;
			color: #fff;
			font-size: 18px;
			text-transform: uppercase;

			&.active {
				background-color: #444;
			}

			&.current {
				font-weight: bold;
				background: #444 url(/img/active_step.png) center right no-repeat;
				padding-right: 50px;
			}
		}
	}
	ul#steps:after {
		content: '';
		display: block;
		clear: both;
	}


    ul#steps li.show-in-skip-payment-variant,
    ul#steps li.show-in-skip-payment-variant,
    ul#steps li.show-in-skip-payment-variant {
        display: none;
    }

	.whiteBg {
		background: #fff;
		padding: 30px;
		margin-top: 30px;
	}

	&.confirmform {
		#leftcontent {
			h1 {
				margin-top: 0;
			}
		}
	}
}

/* NAROČILNICA */
.container.order {
	input[type='text'],
	select {
		width: 80%;
	}

	h2 {
		border-top:1px solid #c7c7c7;
		padding:20px 0;
	}
	h3 {
		padding-bottom:20px;
	}
	
	.instructions {
		color:#9c9b9b;

		padding: 20px 0;
		span {
			font-style:italic;
		}
	}
	
	.includes {
		/*border-left: 1px solid #aaa;
		margin: 0;
		margin-top: 10px;
		padding: 0;
		padding-left: 10px;*/
		li {
			/*list-style: none;*/
			line-height: 30px;
			font-size: 14px;
		}
	}
	.grayBg {
		position:relative;
	}
	
	.additions {
		.boxd {
			clear:both;
			display:block;
			padding-bottom:10px;
		}
	}
	
	.departure,
	.additions {
		h3 {
			border-bottom:1px solid #FFF;
			margin-bottom:10px;
		}
		ul {
			list-style:none;
			margin-left:0;
			
			li {
				line-height: 30px;
				font-size: 14px;
				position: relative;
				
				label {
					span {
						color:#747474;
						margin-left:5px;
						float: right;
						font-size: 14px;
					}
				}
				@media (min-width: 768px) {
					.cloud.right {
						left:auto;
						margin-right:15px;
						min-width:inherit;
						right:100%;
						width: auto;
						
						.triangle {
							border-left:10px solid #333; 
							border-right:0;
							left: auto;
							right: -10px;
						}
						.square {
							min-width:200px;
						}
					}
				}
			}
		}
		input {
			margin-right:18px;
			vertical-align:sub;
		}
	}
	.basis {
		clear: left;
		color:#989898;
		font-family:@ftSecondary;
		font-size:14px;
		margin-top:10px;
		position: relative;
	}
	.perSum {
		bottom: 5px;
		clear: left;
		color:#666;
		float: right;
		font-family:@ftSecondary;
		font-size:18px;
		font-style:italic;
		padding-right: 3px;
		position: relative;
		right: 5px;
		
		span {
			padding-left:5px;
		}
	}
	#confirmPayee {
		margin:15px 0;
	}
	.sumAll {
		color:#939393;
		font-family:@ftSecondary;
		font-size:24px;
		padding:5px 30px 0 0;
		
		span {
			color:#000;
		}
		
		.portions {	 	
			color:#BBB;	 	
			font-size: 12px;	 	
			margin-top: 4px;	 	
			text-align: right;
		}
	}
	.customer {
		min-height:250px;
		
		&>div {
			position:relative;
		}
		
		.departure {
		}
	}
	.removeCustomer {
		cursor: pointer;
	}
}

/* PROFIL UPORABNIKA */
.container.profile {
	.orders {
		table {
			margin-top:15px;
			
			thead {
				tr {
					color:#FFF;
					font-size:15px;
					.gradient(#c1c1c1, #c7c7c7, #bababa);
					
					th {
						padding:15px;
						text-align:left;
					}
				}
			}
			.data {
				td {
					padding:35px 15px 27px;
				}
			}
			.action {
				td {
					div {
						background:#e1e1e1;
						.inside-shadow(0, 0, 13px, 1px, 0.1);
					}
					a{
						color:@crMain;
						.inlineBlock();
						margin-right:25px;
						padding:10px 15px;
					}
					img {
						margin-right:10px;
						max-height:16px;
					}
				}
			}
		}
	}
	.about {
		background-color:#FFF;
		padding:15px 10px;
		
		
		.drop-shadow(0px, 0px, 8px, 0px, 0.2);
		
		h1 {
			font-family:@ftMain;
			font-size:18px;
			font-weight:normal;
			line-height:22px;
			padding-bottom:5px;
			text-transform:none;
			
			span {
				font-size:18px;
				font-weight:bold;
			}
		}
		
		.orders {
			color:@crMain;
			font-size:14px;
		}
		
		ul {
			background-color:#efefef;
			list-style:inside none;
			margin-top:5px;
			margin-left:0;
			padding-bottom:10px;
			
			li {
				padding:6px 10px 0;
				
				h3 {
					font-family:@ftMain;
					font-size: 16px;
					font-weight: bold;
					text-transform: none;
				}
				
				&.head {
					border-bottom:1px solid #FFF;
					padding: 10px;
				}
			}
		}
		
		.button-pink {
			.rounded(0);
		}
	}
}

/* KONTAKT */
.container.contact-page {
  h1 {
		border-bottom:0;
    margin-bottom:30px;
  }
  h3 {
    font-family: @ftMain;
    font-size:14px;
    line-height:16px;
    padding-bottom:5px;
    text-transform:none;
  }
  .fast {
    p{
      color:@crMain;
			font-size:14px;
			line-height:16px;
      margin:0;
      padding-bottom:3px;
    }
  }
  .company {
    border-top:1px solid #cdcdcd;
    color:#919191;
    font-size:10px;
    margin-bottom:30px;
    margin-top:10px;
    
    ul {
      list-style:none;
      margin:0;
      padding-top:13px;
      
      li {
        line-height:12px;
      }
    }
  }
	.error {
		color:#FFF;
		max-width:100% !important;
		margin:5px 0 0 0;
		padding:0;
	}
	#success {
		display:none;
	}
  #quick-contact {
    background-color:#e5e5e5;
    max-width:660px;
    padding:20px 30px;
    
    h2 {
      margin-bottom:20px;
    }
    p {
      margin-bottom:15px;
      max-width:430px;
    }
    
    #name {
      background:#FFF url(/img/icons/contact-personal.png) no-repeat 6px center;
      display:block;
      font-size:12px;
      line-height:14px;
      margin-right:2%;
      padding:1%;
      text-indent: 25px;
      width:61%;
    }
    #email {
      background:#FFF url(/img/icons/contact-email.png) no-repeat 6px center;
      display:block;
      font-size:12px;
      line-height:14px;
      padding:1%;
      text-indent: 25px;
      width:61%;
    }
    #phone {
      background:#FFF url(/img/icons/phone.png) no-repeat 8px center;
      display:block;
      font-size:12px;
      line-height:14px;
      padding:1%;
      text-indent: 25px;
      width:61%;
    }
    #message {
      background:#FFF url(/img/icons/contact-message.png) no-repeat 6px 6px;
      display:block;
      font-size:12px;
      height:135px;
      line-height:14px;
      text-indent: 25px;
      padding:1%;
      width:98%;
    }
    #submit {
      background:url(/img/icons/arrow-small-black.png) no-repeat right center;
      border:none;
      color:#FFF;
      font-family:@ftSecondary;
      padding-right:20px;
      text-transform:uppercase;
    }
  }
}

.nml {
	margin-left:0 !important;
	
	h3 {
		width:94% !important;
	}
}	

.container.news, .container.single-article {
	.odd {
		margin-left:0;
		clear: left;
	}
	.even {
	}
	.archive {
		.years {
			display:inline;
			float: right;
			text-align:right;
			width:50%;
			
			a {
				color:@crMain !important;
				font-size:22px;
				line-height:24px;
			}
			a.active,
			a:hover {
				color:#333 !important;
			}
			span {
				.inlineBlock();
				background-color: #999;
				width: 3px;
				height: 3px;
				vertical-align: super;
				margin: 0 1%;
				
				zoom:1;
				*display:inline;
			}
		}
		.list {
			h3 {
				margin:30px 0 5px;
			}
			ul {
				list-style: none inside;
				margin-left:0;
								
				li {
					a {
						color:@crMain !important;
						
						span {
							color:#b4b4b4;
						}
						.bullet {
							margin-right:10px;
						}
					}
					a:visited {
						color:#666 !important;
					}
					a:hover {
						color:#000 !important;
						span {
							color:#000 !important;
						}
					}
				}
				
			}
		}
	}
}

/* NEWS - ARTICLE */
.container.single-article {
	.fb-like {
		width: 200px !important;
	}
	.date {
		float:left;
		margin-right:25px;
	}
  .content iframe {
    width: 100%;
  }
  h1 {
    margin-bottom: 25px;
  }
	.top {
    float: left;
    margin-bottom:4%;
    margin-right:4%;
		max-height: 215px;
		overflow: hidden;
    width:100%;
	}
  .main-pic {
		width:100%;
  }
  .date {
    color:#BBB;
    margin-bottom:1%;
    
    p {
      padding-bottom:0;
      margin-bottom:0;
    }
  }
  .content {
    clear: both;
		.content-max-width();
  }
}

/* MIKROFON */
.headline {
  margin:50px 0 55px;
  
  p{
    border-top:1px solid #d4d4d4;
    border-bottom:1px solid #d4d4d4;
    color:@crHeadline;
    padding:10px 0;
    
    span {
      color:#000;
    }
  }
  
  .pic {
    float: left;
    margin-top:-15px;
    padding-right:4%;
		width:10%;
  }
  div.text {
    display: inline-block !important;
		font-size:12px;
		font-weight:bold;
		line-height:15px;
		width:75%;
		.inlineBlock();
  }
}

/* NAGRADNA IGRA */
.game {
  border-top:1px solid #e5e5e5;
  margin-top:50px;
  padding-top:10px;
  
  h2 {
    margin-bottom: 15px;
  }
  &>img {
		max-height:initial;
		max-width:initial;
  }
	.imageBox {
		overflow:hidden;
	}
  .content {
    background:#e5e5e5 url('/img/logo-gray-big.png') bottom right no-repeat;
    
    .intro {
    }
    .question {
      font-family: @ftSecondary;
      font-size: 15px;
      margin-top:5px;
      text-transform: uppercase;
    }
    form {
      .answer {
        font-size:12px;
        padding-bottom:15px;
        
        div {
          padding:2px 0;
        }
      }
    }
  }
}

/* 404 page */
.p404 {
  padding-top:100px;
  text-align: center;
  
  h1 {
    margin-bottom:30px;
  }
  .more {
    color:#868686;
    margin-top:15px;
    
    p{
      margin-bottom:0;
      padding-bottom:0;
    }
    p:first-child {
      margin-bottom:15px;
    }
    a {
      color:@crMain;
    }
  }
  &>div>a {
    color:#000;
    font-family: @ftSecondary;
    text-decoration: none;
    
    div {
      background:@crMain;
      font-size:14px;
      margin:3% auto 10%;
      padding:2%;
      width:40%;
      
      img {
        margin-right: 2%;
        max-height:25px;
        vertical-align: text-bottom;
      }
    }
  }
}

/* ALBUM */
.container.album {
	.gallery {
		border-top:1px solid #d7d7d7;
		margin-top:70px;
		padding:15px;
		
		h2 {
			padding-bottom:20px;
			
			img {
				vertical-align: baseline;
			}
		}
	}
	.titleH {
		border-bottom:1px solid #d7d7d7;
		margin-bottom:20px;
				padding-bottom:10px;
				
		.title {
			img {
				height:26px;
				margin:0 10px;
				vertical-align:baseline;
			}
		}
		h1,h2 {
			border:0;
			display: inline;
			padding-bottom:0;
		}
		a:hover {
			text-decoration:none;
		}
		h2 {
			color:#A3A3A3;
			display: inline;
			font-size:30px;
			line-height:34px;
		}
	}
  .album-list {
    //margin-top:4%;
		
		div {
			float: left;
			height:100px;
			margin:0 6% 6% 0;
			overflow:hidden;
			width:19%;
			
			a {
				img {
					min-height: 100%;
					min-width: 100%;
					
					&.nml {
						margin-right:0;
					}
				}
			}
		}
  }
	.moreAlbums {
		clear:both;
	}
}

/* E-NOVICE */
.enews {
	margin:50px 0;
	
	h3 {
		padding-bottom:15px;
	}
	#success {
		display: none;
	}
	.text {
		.inlineBlock();
		font-size:12px;
		font-weight:bold;
		line-height:14px;
		margin-top:30px;
		padding-right:5%;
		vertical-align:top;
		width:40%;
		
		strong {
			color:@crMain;
		}
	}
	.form {
		.inlineBlock();
		width:55%;
		
		input[type=text],
		input[type=email] {
			padding-left:2%;
			padding-right:2%;
			width:96%;
		}
	}
	&.short {
		border-top:0;
		margin-top:0;
		padding-top:0;
		
		h2 {
			border-bottom:0;
			color: #C7C7C7;
			margin-bottom:0;
		}
		.form {
			width:100%;
		}
	}
	&.offer {
		display:none;
		margin-top:120px;
		
		strong {
			color:#000;
		}
		.text {
			padding-right:5%;
			width:45%;
		}
		.form {
			width:50%;
		}
	}
}

/* GALLERY */
.gallery {
  h1 {
    margin-bottom: 30px;
    
    img {
      height: 22px;
      padding-left:7px;
      vertical-align:baseline;
    }
  }
  .picture-frame {
    margin-bottom:4%;
    position: relative;
		overflow:hidden;
    
    &:hover {
			.drop-shadow(0px, 0px, 8px, 1px, 0.6);
      
      .heading {
        bottom: 9%;
      }
    }
    
    a:hover {
      text-decoration: none;
    }
    
    img {
      width:100%;
    }
		&.new {
			margin-left:0;
			max-height:200px;
			clear: left;
		}
    
    .heading {
      bottom:8%;
      position: absolute;
      width:100%;
      
      .background {
        background-color:#000;
        bottom:0;
        height:100%;
        position: absolute;
        width: 100%;
        z-index:1;
        .opacity(0.6);
      }
      
      p {
        color:#FFF;
        font-family: @ftSecondary;
        font-size:14px;
        line-height: 14px;
        margin:0;
        padding:4% 3%;
        position: relative;
        text-transform: uppercase;
        z-index: 1000;
      }
    }
  }
}

/* ----- ORDER PAGE ----- NAROČILNICA ------ PRIJAVNICA ----- */
.order-page {
  min-width:720px;
  
  .intro {
    padding-bottom:2%;
    
    h1 {
      margin-bottom:25px;
      span {
        color:@crMain;
        font-size:30px;
        line-height:36px;
      }
    }
    ol {
      list-style: none;
      margin-left:0;
      
      li{
        line-height:13px;
      }
      span {
        color:#8f8f8f;
        .inlineBlock();
        font-weight:bold;
        width:20px;
      }
    }
  }
  .left-form {
    float:left;
    margin-right:4%;
    width:73%;
    .passenger {
      overflow:hidden;
      position:relative;
      width:100%;
      
      .side {
        background:#f5f5f5 url(/img/party-guy.png) no-repeat center bottom;
        float:left;
        height:100%;
        position:absolute;
        width:20%;
        
        h3 {
          color:@crMain;
          font-size:14px;
          line-height:16px;
          padding-top:10%;
          text-align:center;
        }
      }
      .form {
        background-color:#e9e9e9;
        float:left;
        left:20%;
        min-height:200px;
        padding:2% 0 2% 1%;
        position:relative;
        width:79%;
        
        .column {
          float:left;
          margin-right:2%;
          width:32%;
          
          h3 {
            font-size:16px;
            line-height:20px;
            margin-bottom:15px;
          }
          &.data {
            input {
              margin-bottom:3%;
              padding: 1% 3%;
              width: 92%;
            }
          }
          &.place {
            input {
              float:left;
            }
            label {
              .inlineBlock();
              float: right;
              margin-bottom:7px;
              padding-right:5%;
              width:83%;
              
              *display:inline;
              zoom:1;
            }
          }
          &.extra {
            margin-right:0;
            
            input {
              float:left;
            }
            label {
              .inlineBlock();
              float: right;
              margin-bottom:7px;
              padding-right:5%;
              width:83%;
              
              *display:inline;
              zoom:1;
            }
          }
        }
        textarea {
          height: 90px;
          margin-top: 5%;
          width: 61%;
        }
      }
      &.sub {
        margin-top:3px;
      }
    }
    .numOfPassengersSelect {
      background-color:#ef1736;
      font-family:@ftSecondary;
      font-size:14px;
      padding:2% 2% 2% 0;
      text-align: right;
      
      p{
        display:inline;
        vertical-align:sub;
      }
      select{
        border:0;
        margin:0 0 0 15px;
      
        .rounded(0);
      }
    }
  }
  .right-bill {
    background-color:#f5f5f5;
    float:left;
    width:21%;
    
    .bill-container {
      padding:7% 9%;
    }
    
    h2 {
      margin-bottom:30px;
    }
    
    ul {
      list-style:none;
      margin-left:0;
      
      li {
        border-bottom:1px solid #FFF;
        float: left;
        font-size:14px;
        padding:3px 0;
        text-transform:uppercase;
        width:100%;
        
        div {
          float: right;
          font-size:14px;
          padding-left:4%;
          text-align:right;
        }
        
        &.sum {
          background-color:#FFF;
          font-style:italic;
          font-weight:bold;
          margin-top:10px;
          padding:4% 9% 4% 8%;
          width:94%;
        }
      }
    }
    
    .portions {
      clear:both;
      padding-top:10%;
      
      select {
        border:0;
        float: right;
        height:auto;
        padding:5px 10px;
        width:auto;
        
        .rounded(0);
      }
    }
    
    .terms {
      clear: both;
      font-size:10px;
      line-height:12px;
      padding-top:2%;
      
      a {
        color:#000;
        font-size:10px;
        line-height:12px;
        text-decoration: underline;
      }
    }
    .bill-button {
      input{
        background-color: @crMain;
        border:0;
        font-family: @ftSecondary;
        font-size:20px;
        padding:5% 0;
        text-align: center;
        text-transform: uppercase;
        width:100%;
      }
    }
  }
}

/* THE OFFER */
.the-offer {
	margin-top:0 !important;
	
	.pickup {
		height:40px;
		margin-top:0;
		position:relative;
		
		.background {
			.bgr(0.9);
		}
		p {
			color: #FFF;
			font-family: oswald;
			margin: 0;
			padding: 10px 20px;
			position:relative;
			text-align: center;
			z-index:2;
		}
	}
	.floating-info {
		h3 {
			margin-bottom:7px;
		}
		.morelinksh {
			margin-top:10px;
		}
		.basket-in {
			table {
				width:100%;
				
				td {
					padding:5px;
				}
				.sum {
					td {
						padding-top: 15px;
						font-size: 16px;
						line-height: 31px;
						
						input {
							font-size: 14px;
							float: right;
						}
					}
				}
			}
		}
		.top {
			padding:20px 15px;
			text-align:right;
			
			.price {
				width:80%;
				
				.inr {
					font-size:12px;
					font-style:italic;
					margin:0 10px 0;
					padding:0;
				}
				.num {
					font-family:@ftSecondary;
					font-size:20px;
					line-height:24px;
					margin-left:10px;
				}
			}
			.btn-frame {
				display:none;
				margin-top: 8px;
				text-align: center;
			}
		}
		.middle {
			background:#171717;
			padding:20px 15px;
			
			p {
				color:#F6F6F6;
				font-size:14px;
				line-height:24px;
				margin-bottom:5px;
				padding-bottom:0;
			}
			.date {
				background:url('/img/icons/calendar.png') no-repeat left center;
				padding-left:30px;
			}
			.time {
				background:url('/img/icons/clock.png') no-repeat left center;
				padding-left:30px;
			}
			.place {
				background:url('/img/icons/location.png') no-repeat left center;
				padding-left:30px;
			}
		}
		.bottom {
			padding:20px 15px;
			
			ul {
				font-family:@ftSecondary;
				list-style:none;
				margin-left:0;
				
				a {
					color:@crMain;
					font-size:18px;
					line-height:24px;
					
					&:hover {
						color:#FFF;
						text-decoration:none;
					}
				}
			}
		}
		.social {
			padding:10px 15px 20px;
			
			& > a {
				color:#FFF;
			}
			& > iframe {
				margin-left:18px;
				vertical-align:middle;
				width:100px;
			}
		}
	}
	#leftcontent > div {
		/*width:94%;*/
	}
  .left {
    .inlineBlock();
    width:65%;
  }
  .right {
    .inlineBlock();
    position: relative;
    vertical-align: top;
    width:35%;
    
    .basic-info {
      background-color:#EEE;
      border-top: 1px dashed @crMain;
      padding:6% 12%;
      
      h3 {
        color:@crMain;
        font-family: @ftMain;
        font-size:13px;
        font-weight:bold;
        line-height: 16px;
        padding-bottom: 5%;
        text-transform: none;
      }
      
      ul {
        list-style: square;
        margin: 0 0 5% 6%;
        
        li {
          line-height: 16px;
        }
      }
    }
    .signup {
      background:@crMain url('/img/logo-red-medium.png') no-repeat 25% center;
      max-width:410px;
      position: absolute;
      text-align: right;
      width:100%;
      z-index:10000;
      
      a {
        color:#000;
        text-transform: uppercase;
        
        &:hover,
        &:active {
          text-decoration: none;
        }
        
        h3 {
          font-family: @ftSecondary;
          font-size:24px;
          line-height:24px;
          padding: 4% 8% 4% 0;
        }
      }
    }
    .moreOffers {
      padding:25% 0 0 12%;
      position: relative;
    }
  }
	
	.price-box {
		font-family:@ftSecondary;
		font-size:14px;
		font-style:italic;
		margin-bottom:15px;
		margin-top:60px;
		padding-bottom:25px;
		padding-top:25px;
		
		p {
			line-height:24px;
			margin:0;
			padding:0;
		}
		
		.portions {	 	
				clear:both;	 	
				color::AAA;	 	
				font-size:12px;	 	
				font-style:normal;	 	
				text-align: right;
		}
		
		.tag {
			position:relative;
			top:5px;
		}
	}
	
	.packages-list {
		font-family:@ftSecondary;
		font-size:18px;
		line-height:24px;
			
		&>div {
			padding:10px 0;
		}
		
		a{
			.inlineBlock();
			width:100%;
		}
		
		.package-list{
			border-bottom:1px solid #FFF;
			a {
				color:#000;
			}
			p {
				cursor: pointer;
			}
		}
		.menu-list{
			line-height:24px;
			
			&:hover {
				cursor:pointer;
			}
			&.bb {
				border-bottom:1px solid #FFF;
			}
			a {
				color:@crMain;
			}
		}
		p {
			line-height:24px;
			margin:0;
			padding:0;
		}
		.tag {
		}
		.price {
			background:url(/img/icons/arrow-small-gray.png) no-repeat center right;
			font-size:20px;
			padding-right:7%;
			width:23%;
		}
		
		margin-bottom:25px;
	}
	
	.tag {
		float:left;
		width:70%;
	}
	
	.sidebar-badge img {
		border-bottom:1px solid #c7c7c7;
		margin-bottom:20px;
		padding-bottom:60px;
		width:100%;
	}
}
      
.offer.white-border {
  .drop-shadow(0px,0px,3px,0.2);
	border:9px solid #FFF;
  margin-top:6%;
	position:relative;
  
  .image {
    max-height:initial;
    max-width:initial;
    width:100%;
  }
	.mini-logo {
		position: absolute;
		right:3%;
		top:3%;
	}
  
  .heading {
    bottom:10%;
    position: absolute;
    width:100%;
    
    .background {
				.bgr(0.6);
    }
    a {
      color:#FFF;
		}
    h3 {
      color:#FFF;
      font-family: @ftSecondary;
      font-size:14px;
      line-height: 14px;
      margin:0;
      padding:4% 3%;
      position: relative;
      text-transform: uppercase;
      z-index: 1000;
    }
  }
}

/* PONUDBA */
.offer {
	iframe {	 	
		max-width:100% !important;
	}
	&.index {
		margin-bottom:16px;
	}
	.fb {
		text-align: right;
	}
	.facebook {
		h2 {
			padding-bottom:20px;
		}
	}
	.cont {
		color:#FFF;
		margin-bottom:5px;
		overflow:hidden;
		padding-bottom:5px;
		position: relative;
		
		a.image {
			display:block;
			
			img {
				max-height:initial;
				max-width:initial;
				width:100%;
			}
		}
		
		.background {
			display:none;
			.bgr(0.6);
		}
		
		.pickup-line {
			font-style:italic;
			left:4%;
			position:absolute;
			top:6%;
			max-width:50%;
			
			p {
				font-size:18px;
				line-height:20px;
				.text-shadow(0,0,9px,#000);
				
				a {
					color:#FFF;
					
					&:hover {
						text-decoration:none;
					}
				}
			}
		}
		
		.price-tag {
			font-family:@ftSecondary;
			padding:1% 2% 2% 3%;
			position:absolute;
			right:4%;
			top:0;
			
			p {
				margin:0;
				padding:0;
				position:relative;
				text-align:right;
				z-index:2;
			}
			.price {
				font-size:24px;
				line-height:28px;
			}
		}
		
		.main-info {
			background:#222;
			padding:2% 3%;
			
			a, p {
				display:block;
				position:relative;
				z-index:2;
			}
			
			a {
				color:#FFF;
				
				h3 {
					color:#FFF;
					font-size:22px;
					line-height:26px;
					padding-bottom:4px;
				}
			}
			
			.button {
				bottom:15%;
				position:absolute;
				right:5%;
				
				@media (max-width: 768px) {
					display: inline-block;
					margin-top: 15px;
					position: static;
				}
			}
			
			.info {
				margin:0;
				padding:0;
			}
			
			.subtitle {
				font-family:@ftSecondary;
				font-size:16px;
				text-transform:uppercase;
			}
		}
	}
}
.imageBox {
	overflow:hidden;
}
.offer {
	&.big {
		/*margin-top:-109px;*/
	}
	.top {
		background-color:#222;
		padding-left: 10px;
		position: relative;
		color: #FFF;
		top:1px;
		
		h1 {
			font-size:36px;
			float:left;
			line-height:48px;
			margin:0;
			padding:10px 0 0px;
			position: relative;
			z-index: 2;
		}
		h2 {
			clear:both;
			font-size:18px;
			padding-bottom:10px;
			position: relative;
			z-index: 2;
		}
		.background {
			.bgr(0.7);
		}
		.location-date {
			color:#767676;
			
			span {
				font-weight:bold;
			}
		}
		iframe {
			margin-left:20px;
			margin-top:6px;
			width:90px;
		}
	}
	.intro {
		margin: 30px auto;
	}
	.picture {
		margin:20px 0 25px;
		position:relative;
		
		img{
			max-height:initial;
			max-width:initial;
		}
	}
	
	.pickup {
		bottom: 0;
		padding: 4% 3%;
		position: absolute;
		width: 94%;
		
		.background {
			.bgr(0.6);
		}
		
		.intro p {
			line-height:20px;
		}
		
		p {
			color:#FFF;
			font-size:20px;
			margin:0;
			padding:0;
			position:relative;
			text-align:center;
			z-index:2;
		}
	}
	
	.lineup {
		.borderTop();
		margin-top:80px;
		
		h2{
			padding-bottom:30px;
		}
		.share {
			float:right;
			.inlineBlock();
			padding-top:8px;
			vertical-align:middle;
		}
		.column {
			margin-bottom:30px;
			
			&.half {
				float:left;
				.inlineBlock();
				width:50%;
			}
			
			ul {
				font-family: @ftSecondary;
				list-style:none inside;
				text-align:center;
				text-transform:uppercase;
			}
			li {
			}
			.l1 {
				font-size:20px;
				line-height:24px,
			}
			.l2 {
				font-size:16px;
				line-height:19px;
			}
			.l3 {
				font-size:13px;
				line-height:15px;
			}
		}
	}
	
	.countdown {
		margin-top:50px;
		margin-bottom:50px;
		
		.text {
			color:#9f9696;
			font-family:@ftSecondary;
			font-style:italic;
			line-height:79px;
			position:absolute;
		}
		
		.timer {
			text-align: center;
		}
		.sect {
			background:url(/img/countdown-bg.png);
			height:79px;
			.inlineBlock();
			margin:0 1%;
			position:relative;
			width:88px;
			
			.line {
				background-color: #000;
				height: 3px;
				left: 14%;
				opacity: 0.6;
				position: absolute;
				top: 33px;
				width: 73%;
			}
			
			.number {
				color:#FFF;
				font-family:@ftSecondary;
				font-size:48px;
				line-height:70px;
				text-align:center;
				.text-shadow(1px, 1px, 2px, #333);
			}
			p{
				font-family:@ftSecondary;
				font-size:14px;
				margin-top:15px;
				text-align: center;
			}
		}
	}

	.moreinfo {
		.borderTop();
		margin-bottom: 25px;

		h2 {
			margin-bottom: 20px;
		}
		
		p {
			line-height:20px;
		}
	}
	
	.gallery {
		.borderTop();
		margin-top:70px;
		
		h2 {
			margin-bottom:20px;
		}
		
		a:hover {
			text-decoration:none;
		}
		
		.imageBox {
			float:left;
			margin:0% 1% 4%;
			width:18%;
			
			&:nth-child(5n+1) {
				clear:both;
			}
		}
	}
	
	.packages {
		.borderTop();
		margin-top:40px;
		padding-top:20px;
			
		& > div > h2 {
			margin-bottom:10px;
		}
		
		.marrb {
			margin-bottom:35px;
		}
		
		.intro {
			color:#acacac;
			font-size:12px;
			line-height:14px;
			margin:0;
			padding:0;
		}
		
		.secti {
			margin-top:20px;
			
			h3 {
				font-size:14px;
				font-style:italic;
				letter-spacing:2px;
				margin-bottom:33px;
			}
		}
		
		.package {
			border-bottom:1px solid #BBB;
			margin-bottom:20px;
			padding-bottom:10px;
			
			.portions {
				color:#666;
				font-size:12px;
			}
			
			/*new*/
			width:100%;
			
			&>table {
				width:100%;
			}
			
			tr {
				border-bottom:1px solid #BBB;
			}
			td {
				padding:10px;
			}
			thead {
				tr {
					background:#666;
					color:#FFF;
					font-size:14px;
					text-align:left;
				}
				th {
					font-weight:normal;
					padding:6px;
				}
			}

			h2 {
				font-size:14px;
				line-height:18px;
			}
			.package-title {
				width:40%;
			}
			.package-includes {
				width:40%;
				
				.tabTitle {
					font-size:14px;
				}
				ul.column {
					border-left:0;
					
					li {
						display:list-item;
						font-size:12px;
						line-height:14px;
						list-style-type:none;
						
						&:before {
							content: '\2713';
							padding-right: 6px;
						}
					}
				}
			}
			.package-price {
				width:10%;
			}
			.package-number {
				select {
					border-color:@crMain;
					border-width:2px;
					width:50px;
				}
			}
			/*/new*/
			
			i.icon-ok {
				margin-right: 6px;
				.opacity(0.7);
				vertical-align:top;
			}
			i.icon-plus {
				margin-right: 5px;
				.opacity(0.7);
				vertical-align:top;
			}
			
			ul.column {
				border-left:1px solid #999;
				clear: both;
				display: block;
				margin-left:0;
				padding-left:10px;

				li {
					font-size:14px;
					line-height:16px;
					list-style-type: none;
					padding-bottom:3px;
					position:relative;
				}
			}

			.incAdd {
				color:#999;
			}

			.tabTitle {
				color:#666;
				display: block;
				font-size: 18px;
				font-weight:bold;
				margin-bottom: 10px;
				margin-top: 0px;
				width: 100%;
				float: left;
				display: block;
			}

			.packetTabs {
				.tabTitle {
					margin-top: 20px;
				}
				h3 {
					margin-bottom: 5px;
					margin-top: 25px;
				}

				div.span6:last-child {
					padding: 0px 0px 0px 20px;
				}
				div.span6:first-child {
					padding: 0px;
				}
				div.span6:first-child p {
					padding: 0px 20px 0px 0px;
				}
			}
		}
		.hclear {
			margin-top:22px;
		}
		.hbasic {
			h2 {
				font-size:18px;
				line-height:22px;
				padding-bottom:0;
				text-transform:none;
			}
		
			&>div {
				float:left;
			}
		
			.title {
				padding-right:2%;
				width:78%;
			}
			.price {
				font-family:@ftSecondary;
				font-size:18px;
				line-height:22px;
				text-align:right;
				width:20%;
				
				span {
					font-size: 16px;
					padding-left: 2px;
					font-weight: 300;
				}
			}
		}
		.fbasic {
			margin-top:20px;
			
			h2 {
				font-size:18px;
				line-height:22px;
			}
		
			& > div,
			& > div > div {
				float:left;
			}
			
			.first {
				width:37%;
			}
			.second {
				width:63%;
			}
			
			.title {
				padding-right:2%;
				width:50%;
				
				h2 {
					padding-bottom:0;
				}
			}
			.price {
				font-family:@ftSecondary;
				font-size:18px;
				line-height:22px;
				padding-right:6%;
				text-align:left;
				width:38%;
				
				span {
					font-size: 16px;
					padding-left: 2px;
					font-weight: 300;
				}
			}
			.status {
				color: @crMain;
				font-size:12px;
				line-height:15px;
				padding-right:6%;
				width:50%;
			}
			.number {
				padding-right:3%;
				width:32%;
				
				select {
					border:2px solid @crMain;
					margin-top:-5px;
					width:100%;
				}
			}
			.computed {
				padding-right:3%;
				width:24%;
				
				nobr {
					font-family:@ftSecondary;
					font-size:18px;
					vertical-align:middle;
				}
			}
			.button-frame {
				width:38%;
				
				.button {
					margin:-7px 0 0;
				}
			}
		}
		
		.more {
			font-size:14px;
			margin:10px 0 30px;
			text-align:left;
		}
		.advance {
			margin-top:10px;
			padding:10px 0 10px;
			position:relative;
			
			ul {
				.inlineBlock();
				margin:0 17px;
			}
			
			.hideIt {
				bottom:0;
				color:@crMain;
				position:absolute;
				right:20px;
				
				&:hover {
					text-decoration:none;
				}
				
				img {
					margin-left:10px;
					vertical-align:baseline;
				}
			}
		}
		.button {
			.inlineBlock();
			margin:10px 0;
			padding-left:0;
			padding-right:0;
			width:100%;
		}
	}
}
.otherOffers {
	padding:10px 0 40px;
	text-align:center;
}

/* OFFERS MENU */
.offers-menu-frame {
	display:none;
}
.offers-menu-frame.fixed {
	left: 0;
	position: fixed;
	top: 50px;
	width: 100%;
	z-index: 10;
}
.offers-menu {
	background:url(/img/bgpattern.jpg) repeat;
	border-bottom:5px solid #000;
	font-family:@ftSecondary;
	font-size:14px;
	margin-bottom:20px;
	text-align:center;
	text-transform:uppercase;
	
	ul {
		list-style:none inside;
		margin:0;
		padding:5px 0;
	}
		
	li {
		.inlineBlock();
		span {
			background-color:@crMain;
			height:3px;
			.inlineBlock();
			margin:0 10px;
			vertical-align:middle;
			width:3px;
		}
		a {
			color:#000;
		}
	}
}

/* OFFERS ALL */
.offers {
  margin-top:0 !important;
  
  h2 {
    border-bottom: 1px solid #000;
    color: #000;
    font-size:24px;
    margin-bottom: 20px;
    padding-bottom:8px;
  }
  .first{
		clear:both;
    margin-left:0;
  }
  .category {
    float: left;
    /*min-height: 483px;*/

	}
	
	.others {
		display:none;
		.text {
			margin-left:0;
			
			&>p {
				margin:0;
				padding:0;
			}
			
			.list {
				p {
					margin:15px 0;
				}
				ul {
					font-family:@ftSecondary;
					font-size:16px;
					font-weight:bold;
					list-style:none inside;
					margin-left:0;
					text-transform:uppercase;
				}
			}
		}
	}
  
  .small {
    background: url('/img/offer-small.png') bottom left no-repeat;
    background-size: cover;
    float: left;
    padding:0;
    width:100%;
    
    &.top {
      background: url('/img/offer-small-special.png') bottom center no-repeat;
      background-size: cover;
      margin-top:-3px;
      padding:8% 17px 18%;
      
      .price {
        background:#000;
        
        .before {
          color:#f21414;
        }
      }
    }
    
    .top{
      padding: 3% 4% 0;
      width:92%;
      
      h3{
        font-size:22px;
        line-height:24px;
        padding-bottom:5px;
      }
      .heading {
        float: left;
        width:75%;
      }
      .subtitle {
        color:#000;
        font-size:14px;
      }
      .price-box {
        width:25%;
        .price{
        }
      }
      a{
        color:#000;
      }
      .place-and-date {
        font-size:14px;
        font-weight:300;
        margin-top: 20px;
      }
    }
    .body {
      border-top: 1px solid #f7657a;
      padding: 3% 4% 4%;
      width:92%;
    
      .frame {
        margin-bottom:10px;
        position: relative;
        
        img {
          max-height: 185px;
          width: 100%;
        }
        .heading {
          bottom:0;
          position: absolute;
          width:100%;
          
          a{
            color:#FFF;
          }
          p {
            margin:0;
            padding:10px 16px;
            position:relative;
            z-index:1000;
          }
          .background {
						.bgr(0.6);
          }
        }
      }
      .fb-and-more {
        padding-bottom:15px;
        
        img {
          margin-right:5px;
          max-height:25px;
          vertical-align:top;
        }
        a {
          float: right;
        }
        iframe {
          vertical-align: bottom;
        }
      }
    }
  }
}

/* PARTNERS */

#official-partners {
	background-color:#ebebeb;
	margin-top:50px;
	padding:40px 55px 55px;
	
	p {
		color:#5a5fb0;
		display:inline;
		padding-right:10%;
	}
}

/* BOTTOM ON MOBILE */
.mobile-bottom {
	background: #222;
	bottom: 0;
	color: #FFF;
	position: fixed;
	width: 100%;
	z-index: 99;
	
	&.hidden {
		display:none !important;
	}
	.rw {
		clear:both;
	}
	.left-cont a,
	.mid-cont a {
		border-right:1px solid #202020;
	}
	.left-cont,
	.right-cont,
	.mid-cont {
		width: 50%;
		text-align: center;
		float: left;
		
		
		&.third {
			width:25%;
		}
		a {
			background: rgb(37,37,37); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiMyNTI1MjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjIyMjIyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(37,37,37,1) 10%, rgba(34,34,34,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(37,37,37,1)), color-stop(100%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(37,37,37,1) 10%,rgba(34,34,34,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(37,37,37,1) 10%,rgba(34,34,34,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(37,37,37,1) 10%,rgba(34,34,34,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(37,37,37,1) 10%,rgba(34,34,34,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#222222',GradientType=0 ); /* IE6-8 */

			color:#FFF;
			display:block;
			padding:20px;
			
			&:hover {
				background:#212121;
				text-decoration:none;
			}
		}
	}
	.mid-cont {
		width:50%;
	}
}

/* FOOT */
.foot {
  /*background-color:#000;*/
  background: url(/img/bg-noise.png);
  color:#FFF;
  margin-top:20px;
  
  h3 {
    font-size:14px;
		padding:25px 0;
  }
  
  .row-fluid {
    &>div>div {
      min-height:180px;
    }
  }
  .about {
    border-left: 1px solid #303030;
    padding-left:20px;
  }
  .col2 {
    border-left: 1px solid #303030;
    padding-left:20px;
		
		p {
			margin:0;
			padding:0;
		}
		a {
			color:#FFF;
		}
  }
  .partners {
    border-left: 1px solid #303030;
    padding-left:20px;
		
		.partyinlj a {
			color:#FFF;
			text-decoration:none;
		}
  }
}
.foot .menu {
  padding-top:60px;
	
	a{
		color:@crMain;
		font-family:@ftSecondary;
		font-size:14px;
		padding:3px 10px;
	}
}
.foot .menu a:first-child{
  padding-left:20px;
}
.foot .rights {
  color: #6c6c6c;
  padding:20px;
}
.foot .rights a{
  color:#6c6c6c;
}
.foot .rights span {
  margin-left:20px;
}


/* MODULES */ 
.module-head {
	padding-bottom:10px;
  h2 {
    display: inline;
  }
  img {
		height:18px;
    margin-left: 5px;
    vertical-align: baseline;
  }
  .left {
		float:left;
    .inlineBlock();
		
    width:70%;
  }
  .right {
    .inlineBlock();
    padding-top:5px;
    text-align: right;
    width:30%;
    
    a {
      color:#000;
      font-family: @ftSecondary;
      font-size:16px;
      padding: 5px 0;
      vertical-align: bottom;
    }
  }
  .right-button {
    .inlineBlock();
    padding-top:5px;
    text-align: right;
    width:30%;
  }
  .center-button {
    padding-top:5px;
    text-align: center;
    width:30%;
    display: block;
    margin: 0 auto;
  }
	&.btmmed {
		padding-bottom:20px;
	}
	&.topfull {
		padding-top:75px;
	}
}
.mf {
  border-top: 1px solid #d4d4d4;
  padding-top:14px;
  margin-top:50px;
}
/* ----- OPINIONS ------ */
#opinions {
	background-color:#ebebeb;
	margin-bottom:60px;
	
	.opinion {
		background:url(/img/icons/quotemarks.png) no-repeat 30px 40px;
		padding:40px 0 40px 75px;
	}
	.opinion:last-child {
		padding-right:30px;
	}
	p {
		font-size:12px;
		font-weight:bold;
		line-height:14px;
		margin-bottom:0;
		padding-bottom:0;
	}
	.footer {
		margin-top:10px;
		p {
			font-style:italic;
		}
	}
}
/* ----- SINGLE ARTICLE ----- */
.single-article {
	#news-module {
		margin-top:50px;
	}
}
/* NEWS MODULE */
#news-module {
  &.related {
    border-top: 1px solid #d4d4d4;
    margin-top: 8%;
    padding-top: 1%;
    
    h2 {
      margin-bottom:1%;
    }
    
    .article {
      width:78%;
    }
  }
  &.archive {
    border-top: 1px solid #d4d4d4;
		font-size:12px;
    margin-top: 8%;
    padding-top: 1%;
		
    a {
      color:#000;
      
      &:hover {
        text-decoration:none;
      }
    }
    h2 {
      display: inline;
    }
    img {
      vertical-align:bottom;
    }
  }
  
  .article {
		clear: both;
    padding: 0 0 1%;
    position:relative;
    
		&.span6 {
			clear:none;
		}
		
    img {
			max-height:initial;
			max-width:initial;
      width:100%;
    }
    .top {
			max-height:215px;
			overflow:hidden;
      position: relative;
    }
    .heading {
      position: absolute;
      bottom:5%;
      width: 100%;
      
      &>a:hover {
        text-decoration:none;
        
        h3 {
          color:#CCC;
        }
      }
			.more {
				color:#FFF;
				.inlineBlock();
				font-family: @ftSecondary;
				font-size:14px;
				font-style:italic;
				position: relative;
				width:22%;
        z-index:10;
				
				zoom:1;
				*display:inline;
				
				span {
					font-size: 22px;
					font-style: normal;
					margin-left: 10px;
				}
				
				&:hover {
          color:#CCC;
				}
			}
      h3 {
        color:#FFF;
				.inlineBlock();
        font-size:18px;
        line-height: normal;
        padding: 2% 3%;
        position: relative;
        text-rendering: auto;
				width:70%;
        z-index:10;
				
				zoom:1;
				*display:inline;
      }
      div {
        background-color: #000;
        height: 100%;
        min-height: 46px;
        position: absolute;
        width: 100%;
        .opacity(0.6);
      }
    }
    p {
    	margin-top: 10px;
    	&:first-child {
      		margin-top:10px;
    	}
    	&:last-child {
      		margin-bottom:25px;
    	}
    }
    .more {
      text-align: right;
      a {
        color:@crMain;
        font-family:@ftSecondary;
      }
    }
  }
}

/* GALLERY MODULE */
#gallery-module {
	.span6 {
		margin-bottom:14px;
		overflow:hidden;
		
		img {
			margin-left:0 !important;
		}
	}
  .frame {
    margin-top: 16px;
    word-spacing:0;
    
		div {
			height:125px;
			.inlineBlock();
			margin-left:4%;
			overflow:hidden;
			vertical-align:top;
			width:22%;
			
			img {
				min-height:125px;
				min-width:100%;
				max-height:initial;
				max-width:initial;
			}
			&:first-child {
				margin-left: 0;
			}
		}
  }
}

/* E-NEWS MODULE */
#e-news-module {
  .frame {
    background-color: #e5e5e5;
    margin-top: 10px;
    padding:20px;
    
    form {
      margin:0;
    }
    
    input[type='submit'] {
      background: transparent url('/img/icons/arrow-small-black.png') right center no-repeat;
      border:0;
      color:@crMain;
      font-family: @ftSecondary;
      font-size:14px;
      margin-left: 9%;
      padding:1px 15px 4px 10px;
      vertical-align: baseline;
    }
  }
}

/* LOGIN MODAL */
#loginModal, #forgotPassModal {
	.modal-header {
		background-color: #090909;
		border-bottom:0;
		color: #FFF;
		text-align: center;
		padding: 15px;
		
		.rounded(0);
	}
	.modal-body {
		padding:7%;
		
		.gradient(#161616, #1b1b1b, #121212);
		
		&>a {
			color:#838383;
			font-size:14px;
		}
	}
	input {
		margin-bottom:15px;
		padding:2% 4%;
		width:92%;
		
		.rounded(2px);
	}
	#email,
	#emailfp,
	#password {
		.inside-shadow(0, 2px, 13px, 0, 0.3);
	}
	#submit,
	#submitfp {
		.button-pink;
	}
}

/* FACEBOOK LIKE BOX */

#fb-root {
  display: none;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}




/* JAVASCRIPT FORM VALIDATION SCRIPT */
.formError { z-index: 990; }
.formError .formErrorContent { z-index: 991; }
.formError .formErrorArrow { z-index: 996; }

.ui-dialog .formError { z-index: 5000; }
.ui-dialog .formError .formErrorContent { z-index: 5001; }
.ui-dialog .formError .formErrorArrow { z-index: 5006; }




.inputContainer {
	position: relative;
	float: left;
}

.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	cursor: pointer;
	text-align: left;
}

.formError.inline {
	position: relative;
	top: 0;
	left: 0;
	.inlineBlock();
}

.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none;
}

.formError .formErrorContent {
	width: 100%;
	background: #ee0101;
	position:relative;
	color: #fff;
	min-width: 120px;
	font-size: 11px;
	border: 2px solid #ddd;
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	-o-box-shadow: 0 0 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

.formError.inline .formErrorContent {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
}

.greenPopup .formErrorContent {
	background: #33be40;
}

.blackPopup .formErrorContent {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position:relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
	margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	margin: 0px 0 0 12px;
	top:2px;
}

.formError .formErrorArrow div {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	-o-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #ee0101;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.formError .formErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
}

.greenPopup .formErrorArrow div {
	background: #33be40;
}

.blackPopup .formErrorArrow div {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	border: none;
}

.formError .formErrorArrow .line9 {
	width: 13px;
	border: none;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}


/* cookie notice v2 - 2014-03 - F5 */
.container-fluid.cookies-v2 {
  background-color: rgba(7,7,13,0.9);
  padding: 2em;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: -100%;
  opacity: 0;
  z-index: 9999;

  .title, .subtitle {
    font-size: 1.666em;
    line-height: 1.2em;
    text-transform: uppercase;
    font-family: "Oswald";
  }
  .title {
    font-weight: bold;
  }
  .subtitle {
    font-weight: 200;
  }
  span {
    float: left;
    clear: both;
  }

  span.text {
    margin-top: 1em;
    font-size: 1em;
    line-height: 1.2em;
  }

  button {
    background-color: #313d6f;
    color: #fff;
    border: 0;
    float: left;
    font-size: 1.666em;
    line-height: 1em;
    font-family: "Oswald";
    font-weight: bold;
    padding: 0.8em 2.4em;
  }
}

#indexSocial {
  > div {
    margin-top: 20px;
  }
  .visible-phone.span4 {
    width: 33% !important;
    float: left;
  }
  a {
    img {
      -webkit-transition: all .2s; /* For Safari 3.1 to 6.0 */
      transition: all .2s;

      width: 90%;
      display: block;
      margin: 0 auto;
      opacity: 0.8;

      &:hover {
        width: 100%;
        opacity: 1;
      }
    }
  }
}
div.boxd {
	.inlineBlock();
	position:relative;
}
.cloud {
	position:absolute;
	width:100%;
	z-index:99;
	
	&.listed {
		left:100%;
		margin-left:15px;
		min-width:300px;
		top:-5px;
	}
	.square {
		background-color:#333;
		color:#EEE;
		.inlineBlock();
		font-size:12px;
		line-height:18px;
		padding: 5px 10px;
	}
	.triangle {
		left:-10px;
		position:absolute;
		top:0;
		z-index:99;
		
		width: 0; 
		height: 0; 
		border-top: 14px solid transparent;
		border-bottom: 14px solid transparent; 
		border-right:10px solid #333; 
	}
}
#maincontainer {
  margin: 0 auto;
}
#maincontainer > .row-fluid > .span4 {
  position: relative;
}
#floatingCart {
  display: none;

  .hiddenTemplate {
    display: none;
  }

  &.floating {
    display: none;
    position: fixed;
    top: 80px;
    margin-left: 0;

    .packages-list {
      display: block;
      width: 100%;
    }
  }

  h2 {
    margin-bottom: 10px;
  }
  .packages-list {
    .price, .tag {
      width: auto;
      font-size: 15px;
    }
  }
}

/* RESPONSIVE */

@media (min-width: 1200px) {
}
@media (max-width: 1199px) {
	.offer .countdown .text {
		display:none;
		position:relative;
	}
	.head-main ul li a {
		font-size:14px;
	}
	.head-main .intro {
		top:70px;
	}
}
@media (max-width: 979px) {
	.main-menu ul {
		font-size:12px;
	}
	.offer .packages .fbasic .first,
	.offer .packages .fbasic .second {
		margin-bottom:4px;
		width:100%;
	}
	.foot {
		padding-bottom:160px;
	}
}
	#minimenu {
		display: none !important;
	}
@media (min-width: 768px) {
	#minimenu {
		display: none;
	}
}
@media (max-width: 767px) {
	#minimenu {
		display: block;
		top: 10px;
		left: 10px;
		position: fixed;
		z-index: 9999;
		
		img {
			display:inline-block !important;
			margin-right:5px;
			vertical-align:bottom;
			
			*display:inline !important;
			zoom:1;
		}
	}

	body {
		padding:0;
		
		& > .container {
			margin-left:0px;
			margin-right:0px;
		}
	}
	.the-offer {
		#leftcontent > div {
			width:100% !important;
		}
		.price-box,
		.packages-list {
			display:none;
		}
	}
	
	.row-fluid {
		margin: 0 auto;
		width:96%;
	}
	
	.main-menu {
		display: none;
		bottom:0 !important;
		height:auto !important;
		position:relative !important;
		
		.container {
			overflow:hidden;
		}
		.login {
			display:none;
		}
		li,
		li a {
			display:block !important;
		}
		.separator {
			display:none !important;
		}
		.bgBottomTop {
			display:none;
		}
	}
	
	.offers-menu-frame {
		display:none !important;
	}
	.offers .category .arrow {
		display:none !important;
	}
	
	.foot {
		.menu,
		.rights {
			padding-left:20px !important;
		}
	}
}
@media (max-width: 480px) {
  .mobileLogin {
    background-color:#000;
    padding:5px !important;
    position:absolute;
    right:5px;
    top:0;
  }
}
@media (max-width: 767px) {
	.container.order .additions ul li .boxd {
		.inlineBlock();
	}
	.container.order .additions ul li span {
		float:none !important;
	}
	.container-fluid.cookies-v2 {
		padding:4% 0 !important;
		
		.container > .row {
			& > .span1 {
				float: left;
				margin-right:2%;
				width:18%;
			}
			& > .span6 {
				float:left;
				padding-right:30px;
				width:80%;
			}
			& > .span5 {
				clear:both;
				margin-left:20% !important;
				padding-top:20px;
				
				button {
					font-size:22px;
					padding:12px 20px;
				}
				img {
					max-width:24px;
				}
			}
		}
	}
}
